.iksanika-attachment-drag-area {
    width: 100%;
    text-align: center;
    padding: 50px 0;
    border: 2px dashed #ccc;
}

.iksanika-attachment-row {
    overflow: hidden;
    width: 100%;
    margin: 5px 0;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.iksanika-attachment-row .filename {
    color: rgba(0,0,0,0.5);
    font-size: 0.7em;
}
.order-attachment-content video,
.order-attachment-content audio { width: 100%; }
.order-attachment-content textarea { width: 80%;  padding: 10px; }
.iksanika-attachment-row .order-attachment-preview {
    width: 25%;
    display: table-cell;
    height: 150px;
    margin: 10px;
    text-align: center;
}
.iksanika-attachment-row .order-attachment-preview img {
    max-height: 150px;
}
.iksanika-attachment-default-preview {
    background-image: url(../images/attachment.png);
    display: block;
    width: 64px;
    height: 64px;
    margin: 15px auto;
}
.iksanika-attachment-row-content { display: table; width: 100%; }
.iksanika-attachment-row .order-attachment-content {
    width: 70%;
    display: table-cell;
    vertical-align: top;
    padding: 0 10px;
    text-align: left;
}

.iksanika-attachment-loader { text-align: center; visibility: hidden; }

.iksanika-attachment-remove,
.iksanika-attachment-download {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 0 0 10px;
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
}
.iksanika-attachment-remove { background-image: url(../images/attach-delete.png); }
.iksanika-attachment-download { background-image: url(../images/attach-downloads.png); }

.iksanika-attachment-error {
    width:100%;
    background-color: #ffffff;
    padding: 10px 0;
    border:1px solid #eee;
    border-left-width:5px;
    border-radius: 2px;
    margin: 3px auto;
    font-size: 16px;
}

.danger{
    border-left-color: #d9534f;
    background-color: rgba(217, 83, 79, 0.1);
}

.danger strong{
    color:#d9534f;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
}

.iksanika-attachment-loader .circle {
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #27AE60;
    animation: animatonLoader-attachment 1s infinite ease-in;
}
.iksanika-attachment-loader .circle:nth-child(2) {
  animation-delay: 0.365s;
}

.iksanika-attachment-loader .circle:nth-child(3) {
  animation-delay: 0.63s;
}

@keyframes animatonLoader-attachment {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.2);
    background: #2ECC71;
  }
  66% {
    background: #27AE60;
    transform: scale(1);
  }
}

@media (max-width: 480px) {
    .iksanika-attachment-row-content { display: block; }
    .iksanika-attachment-row .order-attachment-preview {
        width: 100%;
        box-sizing: border-box;
        display: block;
        margin: 0 auto;
    }
    .iksanika-attachment-row .order-attachment-content {
        width: 100%;
        display: block;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
    }
    .iksanika-attachment-row .order-attachment-preview {
        height: auto;
    }
}
