{{template config_path="design/email/header_template"}}
<!--@subject {{var subject|raw }}@-->
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{var message|raw}}</p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}