& when (@media-common = true) {
    .wishlist-index-index {
        .reset-pass-msg {
            display: none;
        }
    }
    .goback-to-multiwishlist {
        padding-bottom: 20px;
        a, a:hover, a:active {
            font-size: 18px;
            text-decoration: none;
            &:before {
                font-size: 18px;
                color: #757575;
                content: '\e617';
                font-family: 'luma-icons';
                margin: 0;
                vertical-align: top;
                display: inline-block;
                font-weight: bold;
                overflow: hidden;
                speak: none;
                text-align: center;
                margin-right: 10px;
            }
        }
    }
    .add-multiwishlist {
        &:hover:before {
            color: #0a0a0a;
        }
        &, &:hover {
            line-height: 28px;
            text-decoration: none;
        }
        span {
            margin-left: 10px;
            font-size: 20px;
            color: #000;
        }
        &:before {
            font-size: 22px;
            line-height: 28px;
            color: #757575;
            content: '\e61c';
            font-family: 'luma-icons';
            margin: 0;
            vertical-align: top;
            display: inline-block;
            font-weight: bold;
            overflow: hidden;
            speak: none;
            text-align: center;
        }
    }
    #wishlist-popup-modal {
        display: none;
    }
    .wishlist-popup-modal {
        .wp-errors {
            display: none;
            color: #ff0000;
            padding: 5px 0 15px 0;
        }
        .modal-inner-wrap {
            width: 450px;
        }
        .actions-toolbar {
            text-align: right;
        }
        #deletewishlist {
            display: none;
        }
    }
    .multiple-wishlist-container {
        width: 100%;
        margin: 0 auto;
        .multiple-wishlist-box-wrapper {
            max-width: 300px;
            color: #444;
            float: left;
            margin: 10px;
            padding: 10px 0;
            &:hover {
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                box-shadow: 0 2px 10px #828282;
                padding: 10px 0;
                .box {
                    background-color: #e1e1e1;
                }
                .box-bottom {
                    .edit-multiwishlist {
                        display: block;
                    }
                }
            }
            .box {
                background-color: #f0f0f0;
                color: #fff;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                margin: 2px;
                float: left;
                width: 96px;
                height: 110px;
            }
            .box-bottom {
                float: left;
                width: 290px;
                height: 60px;
                padding: 5px;
                position: relative;
                .wishlist-title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    font-weight: bold;
                    font-size: 20px;
                }
                .wishlist-privacy {
                    font-weight: bold;
                    &.private {
                        color: #FF0000;
                    }
                }
                .edit-multiwishlist {
                    position: absolute;
                    right: 15px;
                    bottom: 10px;
                    display: none;
                    padding: 5px;
                    &:hover:before {
                        color: #0a0a0a;
                    }
                    &:before {
                        font-size: 22px;
                        line-height: 28px;
                        color: #757575;
                        content: '\e601';
                        font-family: 'luma-icons';
                        margin: 0;
                        vertical-align: top;
                        display: inline-block;
                        font-weight: normal;
                        overflow: hidden;
                        speak: none;
                        text-align: center;
                    }
                }
            }
        }
    }
    .wishlist-add-popup-modal, .wishlist-moveto-popup-modal {
        .modal-inner-wrap {
            width: 450px;
        }
    }
    .wishlist-add-popup-modal, .wishlist-moveto-popup-modal {
        .wp-errors {
            display: none;
            color: #ff0000;
            padding: 5px 0 15px 0;
        }
        .add-new-wishlist-container, .moveto-add-new-wishlist-container {
            display: none;
            margin-top: 30px;
            .actions-toolbar {
                padding-top: 0px;
            }
        }
    }
    #form-wishlist-moveto-add {
        .actions-toolbar {
            padding-top: 0px;
        }
    }
    .move-to-another-wishlist {
        text-align: center;
        margin: 15px 0;
        a {
            &.action.primary.btn-moveitem {
                line-height: 1.6rem;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                width: 100%;
            }
        }
    }
    .multiple-wishlists-selector-container, .multiple-wishlists-moveto-selector-container {
        display: none;
    }
    .wp-wishlist-overlay {
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2000;
        overflow: hidden;
        position: fixed;
        background: #0b0b0b;
        opacity: 0.8;
    }
    .wishlist-share-title {
        h1 {
            margin-bottom: 0px;
            font-weight: 400;
        }
        p {
            font-size: 16px;
        }
    }
    .wishlist-share-items-block {
        margin-top: 50px;
        .product-item-info {
            text-align: center;
        }
    }
    .share-wishlist-container {
        margin-bottom: 40px;
        .share-wishlist-label {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
            float: left;
            cursor: pointer;
            .svg-definition {
                position: absolute;
                width: 0;
                height: 0;
                overflow: hidden;;
            }
            .icon-copy-link {
                display: inline-block;
                width: 1em;
                height: 1em;
                stroke-width: 0;
                stroke: currentColor;
                fill: currentColor;
                font-size: 20px;
                vertical-align: top;
            }
        }
        .sharethis-inline-share-buttons {
            clear: left;
        }
        .tooltip {
            position: relative;
            &:hover .tooltiptext {
                visibility: visible;
                opacity: 1;
            }
            a, a:visited, a:hover {
                color: #444;
                text-decoration: none;
            }
            .tooltiptext {
                visibility: hidden;
                width: 140px;
                background-color: #555;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px;
                position: absolute;
                z-index: 1;
                bottom: 100%;
                left: 50%;
                margin-left: -75px;
                margin-bottom: 5px;
                opacity: 0;
                -webkit-transition: opacity .3s;
                -moz-transition: opacity .3s;
                -ms-transition: opacity .3s;
                -o-transition: opacity .3s;
                transition: opacity .3s;
                &:after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #555 transparent transparent;
                }
            }
        }
    }
    .no-collection {
        font-weight: 600;
        font-size: 16px;
    }
}

// Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .multiple-wishlist-container {
        text-align: center;
        .multiple-wishlist-box-wrapper {
            max-width: 276px;
            float: none;
            display: inline-block;
            text-align: left;
            .box {
                width: 88px;
                height: 100px;
            }
            .box-bottom {
                width: 270px;
            }
        }
    }
}