<!-- ko if: ($row().status == "1") -->
<span class='grid-severity-notice'><!-- ko i18n: 'Enabled' --><!-- /ko --></span>
<!--/ko-->
<!-- ko ifnot: ($row().status == "1") -->
<span class='grid-severity-critical'><!-- ko i18n: 'Disabled' --><!-- /ko --></span>
<!--/ko-->