<!-- ko if: ($row().isSystem == "1") -->
<span class="system-defined" data-bind="attr: {title: $t('System job')}"></span>
<!--/ko-->
<!-- ko ifnot: ($row().isSystem == "1") -->
<span class="user-defined" data-bind="attr: {title: $t('User defined job')}"></span>
<!--/ko-->