span.user-defined::before {
    content: '\e600';
    font-family: 'Admin Icons';
    font-size: 1.2em;
    display: inline-block;
    width: 12px;
    text-align: center;
}
span.system-defined::before {
    content: '\e610';
    font-family: 'Admin Icons';
    font-size: 1.2em;
    width: 12px;
    display: inline-block;
    text-align: center;
}

#job-create .page-actions {
    position: absolute;
    top: 8px;
    right: 23px;
    display: block;
    z-index: 99;
}