<a href="<?= /* @escapeNotVerified */ $this->getDarkLogoLink()?>" >
    <img title="<?= /* @escapeNotVerified */ $this->getDarkLogoAlt() ?>"
         width="<?= /* @escapeNotVerified */ $this->getDarkLogoWidth() ?>"
         height="<?= /* @escapeNotVerified */ $this->getDarkLogoHeight() ?>"
         src="<?= /* @escapeNotVerified */ $this->getDarkLogo() ?>"
    />
</a>