// Custom less for extending Pearl/weltpixel theme can be added in this file in the new theme
// Here custom less for clients can be added
.weltpixellighting {
  color: black;
}
.field.date ._has-datepicker, .field-dob ._has-datepicker {
  width: calc(100% - 40px);
}

div#block-shipping {
  display: none;
}
.sidebar {
  #layered-filter-block {
    .filter-options {
      .m-navigation-highlight-swatch {
        .swatch-option.color {
          position: relative;
          overflow: visible;
          &:before {
            visibility: visible;
            border: 3px solid #fff;
          }
        }
        .swatch-option.image {
          position: relative;
          overflow: visible;
          &:before {
            visibility: visible;
            border: 3px solid #fff;
          }
        }
      }
    }
  }
}
#weltpixel_newsletter,
#weltpixel_exitintent {
  .wp-newsletter-button {
    padding: 7px;
  }
}
#wpx-exitintent-popup {
  p {
    text-align: center;
  }
}
.navigation {
  .megamenu.level-top-fullwidth {
    .submenu {
      .level1 {
        .submenu {
          li.level2 {
            margin: 10px 0;
          }
        }
      }
    }
  }
}

// Common

.amxnotif-block {
  text-align: left;

  .notification-container {
    .actions-toolbar {
      min-width: 100px;
      max-width: 30%;

      .primary,
      .submit {
        width: 100%;
      }

      .submit {
        margin: 0;
      }
    }
  }
}

// Mobile

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .page-title-wrapper {
    padding: 0 15px;
  }
  .product-reviews-summary {
    .reviews-actions {
      font-size: @font-size__base;
    }
  }

  .amxnotif-block {
    .notification-container {
      width: 100%;

      .input-fields {
        width: 75%;
      }

      .actions-toolbar {
        width: 25%;
      }
    }
  }
}

// Desktop

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .amxnotif-block {
    .notification-container {
      .input-fields {
        width: 100%;
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .amxnotif-block {
    .notification-container {
      display: flex;
      flex-wrap: nowrap;
      .input-fields {
        width: 70%;
      }

      .actions-toolbar {
        width: 30%;
      }
    }
  }
}

.product-item-inner {
  &.hoverShow {
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;

    .link-stock-alert {
      text-align: center;
      order: 3;
    }

    .product-item-actions {
      display: block;
      order: 1;
      width: 100%;
    }
  }
}
.amxnotif-block {
  order: 3;
}

