/*
 * Copyright © 2019 Wyomind. All rights reserved.
 * See LICENSE.txt for license details.
 */

span.listed {
    border-radius: 10px;
    display: block;
    text-align:center;
}
span.listed a {
    text-decoration: none;
}
span.blacklisted a {
    color:white;
}
span.whitelisted a {
    color:black;
}
span.blacklisted {
    background:black;
    border:1px solid black;
}
span.whitelisted {
    background:white;
    border:1px solid lightgray;
}