.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cart-container {
        .form-cart {
            .actions.main {
                .clear {
                    height: auto;
                    margin-left: 15px;
                }
                .continue {
                    height: auto;
                    margin-left: 15px;
                }
                .action.update {
                    margin-left: 15px;
                }
            }
        }
        .cart.main.actions {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cart-container {
        .cart.main.actions {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            padding: 0 15px;
        }
    }
    .cart-container {
        .form-cart {
            .actions.main {
                .clear {
                    height: 32px;
                    width: 100%;
                    justify-content: center;
                    margin-bottom: 10px;
                }
                .continue {
                    height: 32px;
                    width: 100%;
                    justify-content: center;
                    margin-bottom: 10px;
                    align-items: center;
                }
                .action.update {
                    height: 32px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
