<?php $configData = $this->getConfigData(); ?>
<?php if ($configData['is_visible']):?>
    <?php
        $helper = $this->helper('WeltPixel\RecentlyViewedBar\Helper\Data');
        $enableCMS =  $configData['enable_cms'] ? '' : ' arv-full-grid';
        $enableSL =  $configData['enable_sl'] ? 'sl-integration' : ' ';
        $isAddToCartEnabled = $configData['is_add_to_cart_enabled'] ? '' : 'add_to_cart_disabled';
        $isJustAddToCart = $configData['is_just_add_to_cart'] ? 'no-buttons' : '';
        $containerClass = 'arv-wrapper ' . $isAddToCartEnabled . ' ' . $isJustAddToCart . ' ' . $enableCMS . ' ' . $enableSL;
        $buttonTextColor = $configData['button_text_color'];
        $buttonColor = $configData['button_color'];
    ?>
    <div class="<?php echo $containerClass; ?>">
        <div class="arv-button" id="arv_btn" style="background-color: <?php echo $buttonColor; ?>; color: <?php echo $buttonTextColor; ?>;">
            <span class="arv-slider-btn"><?php echo $configData['button_label']; ?></span>
        </div>
        <div class="arv-content" id="arv-content">
            <?php if ($configData['enable_cms']):?>
                <div class="arv-cms" style="height: <?php echo $block->getItemHeight(); ?>px">
                    <?php echo $this->loadCmsBlock()->toHtml(); ?>
                </div>
            <?php endif;?>
            <div class="arv-no-items">
                <?php echo __('No recently views items'); ?>
            </div>
            <?php if ($block->isUICompatible()):?>
                <span class="arv-clear"><?=__('Clear All');?></span>
            <?php endif;?>
            <div class="arv-item-list inline-block" style="height: <?php echo $block->getItemHeight(); ?>px">
                <?php if ($block->isUICompatible()):?>
                    <?php echo $this->loadRecentlyViewedWidget()->toHtml(); ?>
                <?php else:?>
                    <div id="recently_viewed"></div>
                <?php endif; ?>

            </div>
        </div>
    </div>
    <script>
        require(['jquery','arv'], function($){
            $(document).ready(function() {
                window.isCustomer = '<?php echo $this->helper('WeltPixel\RecentlyViewedBar\Helper\Data')->isCustomerLoggedIn(); ?>';
                arv.init();
                arv.clearArv();
                arv.secondBtn();
                arv.closeSlide();
                arv.arvSlideUp();
            });
        });
    </script>

    <?php if (!$block->isUICompatible()):?>
        <script type="text/x-magento-init">
            {
                "#recently_viewed": {
                    "arvAjax": {
                        "ajaxUrl": "<?php echo $block->getUrl('arv/recentlyviewed/index') ?>",
                        "requestType": "recently_viewed"
                    }
                }

            }
        </script>
    <?php endif;?>
<?php endif;?>