<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php
$_htmlId = $block->getHtmlId() ? $block->getHtmlId() : '_' . uniqid();
$_colspan = $block->isAddAfter() ? 2 : 1;
?>

<div class="design_theme_ua_regexp" id="grid<?php /* @escapeNotVerified */ echo $_htmlId; ?>">
    <div class="admin__control-table-wrapper">
        <table class="admin__control-table">
            <thead>
            <tr>
                <?php foreach ($block->getColumns() as $columnName => $column): ?>
                    <th><?php /* @escapeNotVerified */ echo $column['label']; ?></th>
                <?php endforeach;?>
                <th class="col-actions" colspan="<?php /* @escapeNotVerified */ echo $_colspan; ?>">Action</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="<?php echo count($block->getColumns())+$_colspan; ?>" class="col-actions-add">
                    <button id="addToEndBtn<?php /* @escapeNotVerified */ echo $_htmlId; ?>" class="action-add" title="<?php /* @escapeNotVerified */ echo __('Add'); ?>" type="button">
                        <span><?php /* @escapeNotVerified */ echo $block->getAddButtonLabel() ? $block->getAddButtonLabel() : __('Add IP'); ?></span>
                    </button>
                </td>
            </tr>
            </tfoot>
            <tbody id="addRow<?php /* @escapeNotVerified */ echo $_htmlId; ?>"></tbody>
        </table>
    </div>
    <input type="hidden" name="<?php /* @escapeNotVerified */ echo $block->getElement()->getName(); ?>[__empty]" value="" />

    <script>
        require([
            "jquery",
            'mage/template',
            'prototype',
            "mage/calendar"
        ], function (jQuery,mageTemplate) {

        calendarBasePrototype = jQuery.mage.calendar.prototype;

        /**
         * Extension for Calendar - date and time format convert functionality
         * @var {Object}
         */
        jQuery.widget('mage.calendar', jQuery.extend({}, calendarBasePrototype,
                /** @lends {$.mage.calendar.prototype} */ {
                    /**
                     * key - backend format, value - jquery format
                     * @type {Object}
                     * @private
                     */
                    dateTimeFormat: {
                        date: {
                            'EEEE': 'DD',
                            'EEE': 'D',
                            'EE': 'D',
                            'E': 'D',
                            'D': 'o',
                            'MMMM': 'MM',
                            'MMM': 'M',
                            'MM': 'mm',
                            'M': 'mm',
                            'yyyy': 'yy',
                            'y': 'yy',
                            'Y': 'yy',
                            'yy': 'yy' // Always long year format on frontend
                        },
                        time: {
                            'a': 'tt',
                            'H': 'h'
                        }
                    },

                    /**
                     * Add Date and Time converting to _create method
                     * @protected
                     */
                    _create: function () {
                        if (this.options.dateFormat) {
                            this.options.dateFormat = this._convertFormat(this.options.dateFormat, 'date');
                        }

                        if (this.options.timeFormat) {
                            this.options.timeFormat = this._convertFormat(this.options.timeFormat, 'time');
                        }
                        calendarBasePrototype._create.apply(this, arguments);
                    },

                    /**
                     * Converting date or time format
                     * @protected
                     * @param {String} format
                     * @param {String} type
                     * @return {String}
                     */
                    _convertFormat: function (format, type) {
                        var symbols = format.match(/([a-z]+)/ig),
                            separators = format.match(/([^a-z]+)/ig),
                            self = this,
                            convertedFormat = '';

                        if (symbols) {
                            jQuery.each(symbols, function (key, val) {
                                convertedFormat +=
                                    (self.dateTimeFormat[type][val] || val) +
                                    (separators[key] || '');
                            });
                        }
                        return convertedFormat;
                    }
                })
        );
        // create row creator
        window.arrayRow<?php /* @escapeNotVerified */ echo $_htmlId ?> = {

            // define row prototypeJS template
            template: mageTemplate(
                    '<tr id="<%- _id %>">'
                    <?php foreach ($block->getColumns() as $columnName => $column): ?>
                            + '<td>'
                            + '<?php /* @escapeNotVerified */ echo $block->renderCellTemplate($columnName)?>'
                            + '<\/td>'
                        <?php endforeach; ?>

                    <?php if ($block->isAddAfter()): ?>
                            + '<td><button class="action-add" type="button" id="addAfterBtn<%- _id %>"><span><?php /* @escapeNotVerified */ echo __('Add after'); ?><\/span><\/button><\/td>'
                        <?php endif; ?>

                            + '<td class="col-actions"><button onclick="arrayRow<?php /* @escapeNotVerified */ echo $_htmlId ?>.del(\'<%- _id %>\')" class="action-delete" type="button"><span><?php /* @escapeNotVerified */ echo __('Delete'); ?><\/span><\/button><\/td>'
                            +'<\/tr>'
            ),

            add: function(rowData, insertAfterId) {
                // generate default template data
                var templateValues;

                // Prepare template values
                if (rowData) {
                    templateValues = rowData;
                } else {
                    var d = new Date();
                    templateValues = {
                <?php foreach ($block->getColumns() as $columnName => $column): ?>
                    <?php /* @escapeNotVerified */ echo $columnName ?>: '',
                        'option_extra_attrs': {},
                    <?php endforeach; ?>
                        _id: '_' + d.getTime() + '_' + d.getMilliseconds()
                };
            }

            // Insert new row after specified row or at the bottom
            if (insertAfterId) {
            Element.insert($(insertAfterId), {after: this.template(templateValues)});
        } else {
            Element.insert($('addRow<?php /* @escapeNotVerified */ echo $_htmlId ?>'), {bottom: this.template(templateValues)});
            jQuery('#'+templateValues['_id']+'_until').calendar({
                    showsTime: true,
                    timeFormat: "HH:mm:ss",
                    dateFormat: "yy-mm-dd",
                    buttonImage: "",
                    yearRange: "",
                    buttonText: "Select Date"
                })
        }

        // Fill controls with data
        if (rowData) {
            var rowInputElementNames = Object.keys(rowData.column_values);
            for (var i = 0; i < rowInputElementNames.length; i++) {
                if ($(rowInputElementNames[i])) {
                    $(rowInputElementNames[i]).value = rowData.column_values[rowInputElementNames[i]];
                }
            }
        }

        // Add event for {addAfterBtn} button
        <?php if ($block->isAddAfter()): ?>
        Event.observe('addAfterBtn' + templateValues._id, 'click', this.add.bind(this, false, templateValues._id));
            <?php endif; ?>
        },

        del: function(rowId) {
            $(rowId).remove();
        }
        }

        // bind add action to "Add" button in last row
        Event.observe('addToEndBtn<?php /* @escapeNotVerified */ echo $_htmlId ?>', 'click', arrayRow<?php /* @escapeNotVerified */ echo $_htmlId ?>.add.bind(arrayRow<?php /* @escapeNotVerified */ echo $_htmlId ?>, false, false));

        // add existing rows
        <?php
        foreach ($block->getArrayRows() as $_rowId => $_row) {
            /* @escapeNotVerified */ echo "arrayRow{$_htmlId}.add(" . $_row->toJson() . ");\n";
        }
        ?>

        // Toggle the grid availability, if element is disabled (depending on scope)
        <?php if ($block->getElement()->getDisabled()):?>
        toggleValueElements({checked: true}, $('grid<?php /* @escapeNotVerified */ echo $_htmlId; ?>').parentNode);
            <?php endif;?>
        });
    </script>
</div>
