<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>

    <div class="payment-method-content rk1">
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
		
		<!-- ko if: getRateStatus() -->
					
			<span>Selecteaza tipul tranzactiei:</span><br><br>
			<input type="radio" name="euplatesc_pty" id="euplatesc_ptyi" data-bind="click: euplatesc_handle_radio() ,attr: {'value': '0'}" checked /><span>Plata integrala</span><br>
			<input type="radio" name="euplatesc_pty" id="euplatesc_ptyr" data-bind="click: euplatesc_handle_radio() ,attr: {'value': '1'}" /><span>Plata in rate</span>
			
				
			<div id="euplatesc_rcontainer" style="display:none">
			<br>
				<!-- ko ifnot: getRateShow() -->
					 <!-- ko foreach: getRateExtTxt() -->
						<input type="radio" name="ep_ext_op" data-bind="attr: {'value': $data.code}" />
						<span data-bind="text: $data.text"></span><br>
					<!--/ko-->
				<!--/ko-->
			
				<!-- ko if: getRateShow() -->
					<span>Selecteaza banca:</span>
					<select id="euplatesc_sb" data-bind="event:{ change: euplatesc_handle_select() }"></select>
					<span>Selecteaza numarul de rate:</span>
					<select id="euplatesc_sr"></select>
					
					
				<!--/ko-->
			</div>
			
        <!--/ko-->
		
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {'title': $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>
