.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .wp-ln-actions {
        width: 98%;
        text-align: right;
    }
    .wp-ln-action {
        cursor: pointer;
        display: inline-block;
    }

    .wp-instant-search-wrapper {
        display: none;
    }
    .wp-instant-search-wrapper.desktop {
        display: block;
    }

    .wp-ln-action:after {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 13px;
        line-height: inherit;
        color: inherit;
        font-family: 'luma-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
    }

    .wp-ln-show-less {
        display: none;
    }

    .sidebar.sidebar-main {
        .wp-filters {
            display: none
        }
    }

    body.slider-layer, body.slider-down-layer {
        .column.main {
            width: 100%;
        }
        .block.filter {
            display: none;
        }

        .toolbar-products {
            margin-left: 90px
        }

        .sidebar.sidebar-main {
            .wp-filters {
                display: block;
                position: absolute;
                top: 5px;
                height: 20px;
                cursor: pointer;
                font-weight: bold;
                .wp-filters-text {
                    vertical-align: top;
                    font-weight: bold;
                }
            }
        }
        .wp-ln-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            z-index: 99;
            background: rgba(0, 0, 0, .3);
            overflow: hidden;
            cursor: pointer;
        }

    }

    .sidebar.sidebar-main {

        b.wp-slide-in {
            display: inline-block;
            background: url('../WeltPixel_LayeredNavigation/images/slide_icon.png') no-repeat;
            width: 20px;
            height: 23px;
            transition: scale 100ms ease;
            margin: 2px 8px 0 0;

        }

        span.wp-slide-down-add.active {
            display: inline-block;
            width: 20px;
            height: 23px;
            transition: scale 100ms ease;
            margin: 2px 8px 0 0;
            &:after {
                content: '\e621';
                font-family: 'luma-icons';
                position: absolute;
                top: 1px;
                margin-left: 5px;
            }
        }

        span.wp-slide-down-add {
            display: inline-block;
            transition: scale 100ms ease;
            &:after {
                content: '\e622';
                font-family: 'luma-icons';
                position: absolute;
                top: 1px;
                margin-left: 5px
            }
        }

    }
    .slide-in-filter {
        position: fixed;
        top: 0;
        left: 0;
        width: 12%;
        min-width: 250px;
        background: #fff;
        height: 95%;
        padding: 25px;
        overflow: scroll;
        margin-bottom: 10px;
        z-index: 100;

        .block-subtitle {
            font-size: 15px;
            text-align: center;
            padding: 10px 10px 30px
        }

        .filter-options-item {
            padding: 15px 0;
            border-bottom: 1px solid #ecece7
        }

    }

    .slide-down-filter {
        display: block;
        position: absolute;
        background: #fff;
        top: 38px;
        width: 98%;
        z-index: 100;
        overflow-y: hidden;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        -moz-box-shadow: inset 0 2px 2px #ccc;
        -webkit-box-shadow: inset 0 2px 2px #ccc;
        box-shadow: inset 0 2px 2px #ccc;
        &:hover {
            overflow-y: auto;
            overflow-y: overlay;
        }
        .filter-options-title {
            &:after {
                content: '';
            }
        }
        .filter-options-item {
            float: left;
            padding: 15px 1% 15px 5px;
            border: 0 none;
            .filter-options-content {
                overflow: hidden;
                height: 95%;
                &:hover {
                    overflow-y: auto;
                    overflow-y: overlay;
                }
            }
        }

        .block-content {
            .block-subtitle {
                padding: 15px 20px 15px
            }
            #wp_ln_shopby_items {
                display: inline-block;
                .item {
                    float: left;
                    margin: 10px;
                }
            }
            .filter-actions {
                margin: 0;
                float: right;
            }
        }
    }

    b.wp-ln-load-more {
        &:after {
            content: "\e607";
        }
    }

    b.wp-ln-show-less {
        &:after {
            content: "\e618";
        }
    }

    b.wp-ln-load-more {
        &:before {
            content: '';
        }
    }

    b.show-less {
        &:before {
            content: '';
        }
    }

    #layered-filter-block {
        .wp-ln-selected {
            a {
                border-left: 5px solid red;
                padding-left: 11px;
                font-style: italic;
                color: #908f8f;
            }
        }
    }

    #layered-filter-block {
        .wp-ln-selected {
            .swatch-option {
                position: relative;
                overflow: visible;
                outline: 2px solid #ee0000;
                border: 1px solid #fff;
                &:before {
                    visibility: visible;
                    border: 3px solid white !important;
                }
                &:after {
                    visibility: visible !important;
                }
            }
        }
    }

    #layer-product-list {
        .message.info.empty {
            margin-left: 90px !important;
        }
    }

    body.wp-ln-open {
        .page-wrapper {
            div.page-header,
            .nav-sections,
            nav.navigation {
                z-index: 1 !important;
            }
        }
    }

    body.theme-pearl {
        .slide-in-filter {
            height: 100% !important;
        }

        b.wp-ln-load-more {
            &:before {
                content: "\e614";
                font-family: 'luma-icons';
            }
        }

        b.wp-ln-show-less {
            &:before {
                content: "\e613";
                font-family: 'luma-icons';
            }
        }

        b.wp-ln-load-more {
            &:after {
                content: '';
            }
        }

        b.wp-ln-show-less {
            &:after {
                content: '';
            }
        }

        .sidebar.sidebar-main {
            .wp-filters {
                top: 16px !important;
                .wp-filters-text {
                    text-transform: uppercase;
                }
            }
        }

        #layered-filter-block {
            .wp-ln-selected {
                a {
                    text-decoration: none;
                    font-weight: 900;
                    border-left: 0 none;
                    font-style: normal;
                    color: inherit;
                    &:before {
                        background: #303030;
                        border: 1px solid #303030 !important;
                    }
                }

                .swatch-option {
                    outline: 2px solid #ee0000;
                    border: 1px solid #fff;
                }

                .swatch-option.text {
                    position: relative;
                    overflow: visible;
                    border: 2px solid #999999 !important;
                }

            }
            .filter-options {
                .swatch-option.color.disabled {
                    &:after {
                        visibility: visible;
                        content: '';
                    }
                    &:hover {
                        overflow: hidden;
                        &:before {
                            visibility: hidden;
                        }
                    }
                }

                .swatch-option {
                    background-size: 100% !important;
                    width: 25px!important;
                    height: 25px !important;
                    min-width: 25px !important;
                    border-radius: 25px !important;
                    -moz-border-radius: 25px !important;
                    -webkit-border-radius: 25px !important;

                    &:hover:before {
                        display: none;
                    }
                }
            }
        }
        #layer-product-list {
            .message.info.empty {
                margin-left: 90px !important;
            }
        }

        .slide-down-filter {
            width: 99%;
            top: 52px;
            border: 0 none;
            -moz-box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.05);
            -webkit-box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.05);
            .block-subtitle {
                border: 0 none !important;
            }
            .filter-options-title {
                border: 0 none !important;
                font-weight: 800 !important;
            }
        }

        /* price slider - in pearl*/
        .ui-slider {
            background: #b3b3b3 !important;
            color: #333333;
            border: 1px solid #e9e9e9;
            height: 5px;
            margin: 15px 0 25px 5px;
            width: 93%;
            .ui-widget-header {
                background: #e9e9e9 !important;
                height: 100%;
                position: absolute;
            }
            .ui-slider-range {
                background: #000 !important
            }
            .ui-slider-handle {
                cursor: ew-resize;
                width: 1em;
                height: 1em;
                top: -4px;
                background: #000000;
            }
            .ui-corner-all {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }

        div.wp-slider-inp {
            width: 100%;
            display: inline-block;
            a.wp-price-slider-a {
                float: right;
                &:hover {
                    font-weight: bold;
                    background: none;
                }
            }

            .wp-slider-currency {
            }
            label {
                color: #757575;
                padding: 0 5px
            }
        }

        #rat_items {
            li.item {
                a {
                    text-decoration: none !important;
                    &:hover {
                        text-decoration: none !important;
                    }
                }
            }
        }

        .filter-options-content {
            .items {
                li.item {
                    width: 96%;
                }
            }
        }

        p.wp-slider-action {
            text-align: right
        }

        /** price slider end */
        ::-webkit-scrollbar {
            width: 4px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-track {
            background-color: #fff;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #c2c2c2;
            border-radius: 4px;
        }

    }
    /* price slider - blank */
    .ui-slider {
        background: #fff !important;
        color: #333333;
        border: 1px solid #e9e9e9;
        height: 5px;
        margin: 15px 0 25px 0;
        width: 98%;
        .ui-widget-header {
            height: 100%;
            position: absolute;
            background: #e9e9e9 !important;
        }
        .ui-slider-range {
        }
        .ui-slider-handle {
            cursor: ew-resize !important;
            width: 0.3em;
            height: 1em;
            top: -4px;
        }
        .ui-corner-all {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }

    div.wp-slider-inp {
        width: 100%;
        display: inline-block;
        .wp-slider-from {
            width: 55%;
            text-align: left;
            float: left;
        }
        .wp-slider-to {
            width: 45%;
            text-align: right;
            float: right;
        }
        .wp-price-slider-inp {
            max-width: 41px;
            text-align: center;
            padding: 0;
            margin-left: -2px
        }

        .wp-price-slider-inp.inp-type {
            max-width: 30%;
            height: 24px !important;
            margin-left: 2px
        }

        .wp-slider-currency {
        }
        .wp-slider-inp-range {
            a.wp-price-slider-a {
                float: right;
                &:hover {
                    font-weight: bold;
                    background: none;
                }
            }
        }
        label {
            color: #757575;
            padding: 0 5px
        }
    }

    p.wp-slider-action {
        text-align: right
    }
    /** price slider end */

    .items a.wp-filter-disabled {
        pointer-events: none;
        cursor: default;
        color: #ccc;
    }
    .wp-instant-search-wrapper {
        .wp-instant-search-inp {
            width: 90%;
        }
    }

}

/* mobile and small screens design */
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .wp-instant-search-wrapper {
        display: none;
    }
    .wp-instant-search-wrapper.mobile {
        display: block;
    }
    .sidebar.sidebar-main {
        .wp-filters {
            display: none;
        }
    }
    /* price slider - mobile - blank */
    .ui-slider {
        background: #fff;
        color: #333333;
        border: 1px solid #e9e9e9;
        height: 5px;
        margin: 15px 0 25px 20px;
        touch-action: pan-x;
        width: 87%;
        .ui-widget-header {
            background: #e9e9e9 !important;
            height: 100%;
            position: absolute;
        }
        .ui-slider-range {
        }
        .ui-slider-handle {
            cursor: ew-resize !important;
            width: 1em;
            height: 1em;
            top: -4px;
        }
        .ui-corner-all {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }

    #layered-filter-block {
        .wp-ln-selected {
            .swatch-option {
                position: relative;
                overflow: visible;
                outline: 2px solid #ee0000;
                border: 1px solid #fff;
                &:before {
                    visibility: visible;
                    border: 3px solid white !important;
                }
                &:after {
                    visibility: visible !important;
                }
            }
        }
    }

    /* price slider - mobile - Pearl */
    body.theme-pearl {

        #layered-filter-block {
            .wp-ln-selected {
                a {
                    text-decoration: none;
                    font-weight: 900;
                    border-left: 0 none;
                    font-style: normal;
                    color: inherit;
                    &:before {
                        background: #303030;
                        border: 1px solid #303030 !important;
                    }
                }

                .swatch-option {
                    outline: 2px solid #ee0000;
                    border: 1px solid #fff;
                }

                .swatch-option.text {
                    position: relative;
                    overflow: visible;
                    border: 2px solid #999999 !important;
                }

            }
            .filter-options {
                .swatch-option.color.disabled {
                    &:after {
                        visibility: visible;
                        content: '';
                    }
                    &:hover {
                        overflow: hidden;
                        &:before {
                            visibility: hidden;
                        }
                    }
                }
            }
        }

        .ui-slider {
            background: #fff !important;
            color: #333333;
            border: 1px solid #e9e9e9;
            height: 5px;
            margin: 15px 0 25px 20px;
            touch-action: pan-x;
            width: 87%;
            .ui-widget-header {
                background: #e9e9e9 !important;
                height: 100%;
                position: absolute;
            }
            .ui-slider-range {
                background: #000 !important
            }
            .ui-slider-handle {
                cursor: ew-resize !important;
                width: 2em;
                height: 2em;
                top: -10px;
                background: #000000;

            }
            .ui-corner-all {
                border-top-left-radius: 11px;
                border-top-right-radius: 11px;
                border-bottom-left-radius: 11px;
                border-bottom-right-radius: 11px;
            }
        }

        #layered-filter-block.filter {
            .block-content {
                .filter-title {
                    border-bottom: 0 none;
                }
                strong.block-subtitle {
                    padding: 10px !important;
                }
                .filter-options {
                    padding: 10px
                }
            }
            .filter-options {
                .swatch-option.color.disabled {
                    &:after {
                        visibility: visible;
                        content: '';
                    }
                    &:hover {
                        overflow: hidden;
                        &:before {
                            visibility: hidden;
                        }
                    }
                }
            }
        }

    }

    .wp-slider-inp {
        .wp-slider-inp-range {
            .wp-price-slider-inp {
                max-width: 41px;
                text-align: center;
                padding: 0;
                margin-left: -2px;
            }
            .wp-price-slider-inp.inp-type {
                max-width: 30%;
                height: 24px !important;
                margin-left: 2px
            }
            a.wp-price-slider-a {
                float: right;
                padding-right: 20px;
                &:hover {
                    font-weight: bold;
                    background: none;
                }
            }
        }
    }

    div.wp-slider-inp {
        width: 100%;
        display: inline-block;
        .wp-slider-from {
            width: 55%;
            text-align: left;
            float: left;
        }
        .wp-slider-to {
            width: 45%;
            text-align: right;
            float: right;
        }

        .wp-slider-currency {
        }
        label {
            color: #757575;
            padding: 0 5px
        }
    }

    p.wp-slider-action {
        text-align: right
    }
    /** price slider end */

    .wp-instant-search-wrapper.mobile {
        width: 88%;
        margin: 10px 0 10px 10px;
    }
    .wp-instant-search-inp {
        width: 90%
    }

}