<?php
/** @var Magento\Review\Block\Product\View\ListView $block */

/** @var WeltPixel\ReviewsWidget\Helper\Data $helper */
$helper = $this->helper('WeltPixel\ReviewsWidget\Helper\Data');
$sliderConfiguration = $helper->getSliderConfigOptions();
$sliderConfig = json_encode($sliderConfiguration);
$breakpointConfiguration = $helper->getBreakpointConfiguration();
$slideBy = $sliderConfiguration['slide_by'];
$randomSort = $helper->getRandomSort() != 0;

$_items = $block->getReviewsCollection()->getItems();
$format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT;
$productId = $block->getRequest()->getParam('id');
$trimReviewTitle = $sliderConfiguration['review_title_max_chars'] ? $sliderConfiguration['review_title_max_chars'] : 0;
$trimReviewContent = $sliderConfiguration['review_content_max_chars'] ? $sliderConfiguration['review_content_max_chars'] : 0;
?>
<?php if (count($_items)) : ?>
<div class="block review-list owl-carousel-reviews owl-carousel-<?= $productId ?>" >
    <?php if ($sliderConfiguration['title']) : ?>
        <div class="block-title">
            <strong><?= $block->escapeHtml($sliderConfiguration['title']) ?></strong>
        </div>
    <?php endif ?>
    <div class="block-content">
        <ol class="items review-items">
        <?php foreach ($_items as $_review) : ?>
            <li style="display: none" class="item review-item" itemscope itemprop="review" itemtype="http://schema.org/Review">
                <div class="review-title" itemprop="name">
                    <?php if ($trimReviewTitle) : ?>
                    <?= $block->escapeHtml(mb_strimwidth($_review->getTitle(), 0, $trimReviewTitle, '...')) ?>
                    <?php else : ?>
                        <?= $block->escapeHtml($_review->getTitle()) ?>
                    <?php endif; ?>
                </div>
                <?php if (count($_review->getRatingVotes())) : ?>
                    <div class="review-ratings">
                    <?php foreach ($_review->getRatingVotes() as $_vote) : ?>
                    <div class="rating-summary item" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                        <span class="label rating-label"><span><?= $block->escapeHtml($_vote->getRatingCode()) ?></span></span>
                        <div class="rating-result" title="<?= $block->escapeHtmlAttr($_vote->getPercent()) ?>%">
                            <meta itemprop="worstRating" content = "1"/>
                            <meta itemprop="bestRating" content = "100"/>
                            <span style="width:<?= $block->escapeHtmlAttr($_vote->getPercent()) ?>%">
                                <span itemprop="ratingValue"><?= $block->escapeHtml($_vote->getPercent()) ?>%</span>
                            </span>
                        </div>
                    </div>
                    <?php endforeach; ?>
                    </div>
                <?php endif; ?>
                <div class="review-content" itemprop="description">
                    <?php if ($trimReviewContent) : ?>
                    <?=  /* @noEscape */ nl2br($block->escapeHtml(mb_strimwidth($_review->getDetail(), 0, $trimReviewContent, '...'))) ?>
                    <?php else : ?>
                    <?= /* @noEscape */ nl2br($block->escapeHtml($_review->getDetail())) ?>
                    <?php endif; ?>
                </div>
                <div class="review-details">
                    <p class="review-author">
                        <span class="review-details-label"><?= $block->escapeHtml(__('Review by')) ?></span>
                        <strong class="review-details-value" itemprop="author"><?= $block->escapeHtml($_review->getNickname()) ?></strong>
                    </p>
                    <p class="review-date">
                        <span class="review-details-label"><?= $block->escapeHtml(__('Posted on')) ?></span>
                        <time class="review-details-value" itemprop="datePublished" datetime="<?= $block->escapeHtmlAttr($block->formatDate($_review->getCreatedAt(), $format)) ?>"><?= $block->escapeHtml($block->formatDate($_review->getCreatedAt(), $format)) ?></time>
                    </p>
                </div>
            </li>
        <?php endforeach; ?>
        </ol>
    </div>
</div>
    <script>
        require([
            'jquery',
            'owl_carousel'
        ], function ($) {
            'use strict';

            var carouselElement = $(".owl-carousel-<?= $productId ?> .items.review-items"),
                slider_config = <?php echo $sliderConfig; ?>,
                items = ((slider_config.items >= 0 && slider_config.items != null) ? slider_config.items : 2),

                stagePadding = slider_config.stagePadding != '' ? parseInt(slider_config.stagePadding) : 0,

                sPBrk_1 = slider_config.stagePadding_brk1 != '' ? parseInt(slider_config.stagePadding_brk1) : 0,
                sPBrk_2 = slider_config.stagePadding_brk2 != '' ? parseInt(slider_config.stagePadding_brk2) : 0,
                sPBrk_3 = slider_config.stagePadding_brk3 != '' ? parseInt(slider_config.stagePadding_brk3) : 0,
                sPBrk_4 = slider_config.stagePadding_brk4 != '' ? parseInt(slider_config.stagePadding_brk4) : 0;

            carouselElement.on('initialized.owl.carousel', function(event){
                $(event.target).find('.owl-item').find('.review-item').show();
                setTimeout(function(){
                    carouselElement.trigger('next.owl.carousel');
                    $('.owl-thumbs').each(function() {
                        if (!$('.owl-thumbs').children().length) {$(this).remove();}
                    });
                    $('.cssload-loader').parent().remove();
                }, 370);
            });

            <?php if ($randomSort) : ?>
            carouselElement.on('initialize.owl.carousel', function(event) {
                var $this = $(this);
                var carouselItems = $this.children();
                while (carouselItems.length) {
                    $this.append(carouselItems.splice(Math.floor(Math.random() * carouselItems.length), 1)[0]);
                }
            });
            <?php endif; ?>

            carouselElement.owlCarousel({
                nav                 :parseInt(slider_config.nav) == 1 ? true : false,
                dots                :parseInt(slider_config.dots) == 1 ? true : false,
                center              :parseInt(slider_config.center) == 1 ? true : false,
                items               :items,
                loop                :parseInt(slider_config.loop) == 1 ? true : false,
                margin              :parseInt(slider_config.margin) != '' ? parseInt(slider_config.margin) : 0,
                stagePadding        :parseInt(slider_config.center) == 1 ? 0 : stagePadding,
                lazyLoad            :parseInt(slider_config.lazyLoad) == 1 ? true : false,
                autoplay            :parseInt(slider_config.autoplay) == 1 ? true : false,
                autoplayTimeout     :(slider_config.autoplayTimeout > 0 && slider_config.autoplayTimeout != null) ? parseInt(slider_config.autoplayTimeout) : 3000,
                autoplayHoverPause  :parseInt(slider_config.autoplayHoverPause) == 1 ? true : false,
                autoHeight          :parseInt(slider_config.autoheight) == 1 ? true : false,
                slideBy             :'<?php echo $slideBy ?>',
                responsive:{
                    <?php echo $breakpointConfiguration['breakpoint_1']; ?>:{
                        nav             :parseInt(slider_config.nav_brk1) == 1 ? true : false,
                            dots            :parseInt(slider_config.dots_brk1) == 1 ? true : false,
                            items           :(slider_config.items_brk1  >= 0 && slider_config.items_brk1 != null) ? parseInt(slider_config.items_brk1) : items,
                            center          :parseInt(slider_config.center_brk1) == 1 ? true : false,
                            stagePadding    :parseInt(slider_config.center) == 1 ? 0 : sPBrk_1,
                    },
                    <?php echo $breakpointConfiguration['breakpoint_2']; ?>:{
                        nav             :parseInt(slider_config.nav_brk2) == 1 ? true : false,
                            dots            :parseInt(slider_config.dots_brk2) == 1 ? true : false,
                            items           :(slider_config.items_brk2  >= 0 && slider_config.items_brk2 != null) ? parseInt(slider_config.items_brk2) : items,
                            center          :parseInt(slider_config.center_brk2) == 1 ? true : false,
                            stagePadding    :parseInt(slider_config.center) == 1 ? 0 : sPBrk_2,
                    },
                    <?php echo $breakpointConfiguration['breakpoint_3']; ?>:{
                        nav             :parseInt(slider_config.nav_brk3) == 1 ? true : false,
                            dots            :parseInt(slider_config.dots_brk3) == 1 ? true : false,
                            items           :(slider_config.items_brk3  >= 0 && slider_config.items_brk3 != null) ? parseInt(slider_config.items_brk3) : items,
                            center          :parseInt(slider_config.center_brk3) == 1 ? true : false,
                            stagePadding    :parseInt(slider_config.center) == 1 ? 0 : sPBrk_3,
                    },
                    <?php echo $breakpointConfiguration['breakpoint_4']; ?>:{
                        nav             :parseInt(slider_config.nav_brk4) == 1 ? true : false,
                            dots            :parseInt(slider_config.dots_brk4) == 1 ? true : false,
                            items           :(slider_config.items_brk4  >= 0 && slider_config.items_brk4 != null) ? parseInt(slider_config.items_brk4) : items,
                            center          :parseInt(slider_config.center_brk4) == 1 ? true : false,
                            stagePadding    :parseInt(slider_config.center) == 1 ? 0 : sPBrk_4,
                    }
                }
            });

        });
    </script>
<?php endif;?>
