<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CheckoutCustomField
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
// @codingStandardsIgnoreFile
?>
<?php
$attributeHelper = $this->helper('Bss\CheckoutCustomField\Helper\Data');
$attributes = $block->getCustomFieldChekout();
?>
<form id="customfield" action="<?php echo $block->escapeUrl($attributeHelper->getSaveCustomFieldtoQuote()); ?>" method="post">
    <div class="block-content">
        <div class="box box-order-shipping-method">
            <strong class="box-title"><span><?php echo $block->escapeHtml($attributeHelper->getTitle()); ?></span></strong>
            <?php foreach ($attributes as $attribute) :?>
                <?php $fieldRequiredClass = ($attribute->getIsRequired()) ? 'data-validate="{required:true}"' : '' ?>
                <?php $fieldFrontendClass = ($attribute->getFrontendClass()) ? $attribute->getFrontendClass() : '' ?>

                <?php
                    $storeId = $block->getStoreId();
                    $stores = explode(',', $attribute->getStoreId());
                if (!in_array($storeId, $stores)) {
                    continue;
                }
                    $frontEndLabel = $attribute->getFrontendLabel($storeId);

                    $options = $block->getOptions($attribute);

                    $fieldValue = $block->getDefaultValue($attribute);
                    
                ?>
                <?php if ($attribute->getFrontendInput()== 'text') :?>
                    <div class="customfield <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()) :
?>required<?php
                                            endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <input type="text" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text <?php echo $fieldFrontendClass ;?>" <?php echo $fieldRequiredClass; ?>>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'textarea') :?>
                    <div class="customfield <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()) :
?>required<?php
                                            endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <textarea class="textarea" cols="15" rows="2" title="<?php echo __($frontEndLabel); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" <?php echo $fieldRequiredClass; ?>><?php echo $block->escapeHtml($fieldValue); ?></textarea>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'date') :?>
                    <?php
                        $showsTime = false;
                    if ($attributeHelper->isFormatDate()) {
                        $dateFormat = 'm/d/Y H:i';
                        $showsTime = true;
                    } else {
                        $dateFormat = 'm/d/Y';
                    }
                    if ($fieldValue) {
                        $date = date_create($fieldValue);
                        $date = date_format($date, $dateFormat);
                    } else {
                        $date = "";
                    }
                    ?>
                    <div class="customfield <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()) :
?>required<?php
                                            endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <input type="text" class="input-text" title="<?php echo __($frontEndLabel); ?>" value="<?php echo $block->escapeHtml($date) ?>" id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" <?php echo $fieldRequiredClass; ?>>
                            <script type="text/x-magento-init">
                                {
                                    "#<?php echo $attribute->getAttributeCode(); ?>": {
                                        "Bss_CheckoutCustomField/js/form/date": {
                                            "showsTime" : "<?php echo $showsTime ?>"
                                        }
                                    }
                                }
                            </script>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'boolean' || $attribute->getFrontendInput()== 'dropdown') :?>
                    <div class="customfield <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()) :
?>required<?php
                                            endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <select id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" title="<?php echo __($frontEndLabel); ?>" <?php echo $fieldRequiredClass; ?>>
                                <?php foreach ($options as $option) :?>
                                    <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $fieldValue) {
                                        echo ' selected="selected"';
                                                   } ?>><?php echo $option['label'];?></option>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'select') :?>
                    <?php $fieldRequiredClass = ($attribute->getIsRequired()) ? 'data-validate="{\'validate-one-required-by-name\':true}"' : ''?>
                    <div class="customfield <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()) :
?>required<?php
                                            endif;?>" id="<?php echo $attribute->getAttributeCode() ?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <?php foreach ($options as $option) :?>
                                <div class="choice">
                                    <input type="radio"
                                           class="radio <?php echo $attribute->getAttributeCode() ?>"
                                           id="<?php echo $attribute->getAttributeCode().$option['value']; ?>"
                                            <?php echo $fieldRequiredClass; ?>
                                           name="<?php echo $attribute->getAttributeCode(); ?>"
                                           data-selector="<?php echo $attribute->getAttributeCode(); ?>"
                                            <?php if ($option['value'] == $fieldValue) {
                                                echo ' checked="checked"';
                                            } ?>
                                           value="<?php echo $option['value'] ?>"/>
                                    <label class="label"
                                           for="<?php echo $attribute->getAttributeCode().$option['value']; ?>">
                                        <span><?php echo $option['label']; ?></span>
                                    </label>
                                </div>
                            <?php endforeach;?>
                            </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'multiselect') :?>
                    <?php $fieldRequiredClass = ($attribute->getIsRequired()) ? 'data-validate="{\'validate-one-required-by-name\':true}"' : ''?>
                    <div class="customfield <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()) :
?>required<?php
                                            endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <?php foreach ($options as $option) :?>
                                <?php $selectedOptions = is_array($fieldValue) ? $fieldValue : explode(',', $fieldValue);?>
                                <div class="choice">
                                    <input type="checkbox"
                                           class="checkbox <?php echo $attribute->getAttributeCode() ?>"
                                           id="<?php echo $attribute->getAttributeCode().$option['value']; ?>"
                                            <?php echo $fieldRequiredClass; ?>
                                           name="<?php echo $attribute->getAttributeCode(); ?>[]"
                                           data-selector="<?php echo $attribute->getAttributeCode(); ?>"
                                            <?php if (in_array($option['value'], $selectedOptions)) {
                                                echo ' checked="checked"';
                                            } ?>
                                           value="<?php echo $option['value'] ?>"/>
                                    <label class="label"
                                           for="<?php echo $attribute->getAttributeCode().$option['value']; ?>">
                                        <span><?php echo $option['label']; ?></span>
                                    </label>
                                </div>
                            <?php endforeach;?>
                        </div>
                    </div>
                <?php endif; ?>
            <?php endforeach;?>
        </div>
    </div>
</form>
<br>
<!-- </div> -->