<?php 
if($block->getPaymentMethod()){
		if(!$block->getRedirect()){
?>
			<style>
				div div.rk{display:block !important;}
			</style>
			<div class="rk button" style="display:none;float:left;width:300px;">
				<form action="<?php echo $block->getGateUrl(); ?>" method="POST">
				<?php foreach($block->getPostData() as $key=>$value): ?>
					<input type="hidden" name="<?php echo $key; ?>" value="<?php echo $value; ?>"></input>
				<?php endforeach; ?>
					<button type="submit"><?php echo $block->payText(); ?></button>
				</form>
			</div>
	
<?php } else{ ?>
			<style>
				div div.rk{display:block !important;}
			</style>
			<div class="rk button" style="display:none;margin:auto;width:200px;">
				<form name="epfrm" action="<?php echo $block->getGateUrl(); ?>" method="POST">
				<?php foreach($block->getPostData() as $key=>$value): ?>
					<input type="hidden" name="<?php echo $key; ?>" value="<?php echo $value; ?>"></input>
				<?php endforeach; ?>
				</form>
				
				<center>
					<img src="https://www.euplatesc.ro/plati-online/tdsprocess/images/progress.gif" onload="javascript:document.epfrm.submit();" />
					<br>Redirecting to euplatesc.ro
				</center>
			</div><br>
			<script type="text/javascript">setTimeout(function(){document.epfrm.submit();}, 500);</script>
			
<?php } 
}
?>