<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CheckoutCustomField
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<!-- ko foreach:  { data: options, as: 'item' }-->
<p>
    <input type="checkbox" class="admin__control-checkbox" data-bind="
    checked: $parent.default,
    checkedValue: value,
    attr: { id: $parent.uid + '-' + value,
        disabled: $parent.disabled,
        name: $parent.inputName
    },
    hasFocus: $parent.focused">
    <label class="label" data-bind="text: item.label, attr: { for: $parent.uid + '-' + value }"></label>
</p>
<!-- /ko -->
<!-- ko if: notice -->
<div class="admin__field-note" data-bind="attr: {id: noticeId}"><span data-bind="text: notice"></span></div>
<!-- /ko -->
