<?php if ($this->_helper->isAttachmentEnabled(true)) : ?>
<?php
    $style = '';
    if (!$this->isEnabledFileUpload()) {
        $style = 'display:none;';
    }
?>
<div class="block block-order-details-view">
    <div class="block-title">
        <strong><?php /* @escapeNotVerified */ echo __('Order Attachments') ?></strong>
    </div>
    <div class="block-content">
        <form id="attachment-form" class="form form-attachments" enctype="multipart/form-data">
            <input class="input"
                   type="file"
                   style="display: none;"
                   id="order-attachment"
                   name="order-attachment[]" multiple />
                <div class="iksanika-attachment-drag-area" style="cursor:pointer;<?php echo $style; ?>" data-role="order-attachment">
                    <h4><?php  /* @escapeNotVerified */ echo __('Select or Drag & Drop your files here') ?></h4>
                </div>
            <div class="attachment-container"></div>
        </form>
    </div>
</div>
<script>
require([
    'jquery',
    'Iksanika_Orderattach/js/order-attachment'
], function ($, orderAttachment) {
    $(function () {
        $('[data-role=order-attachment]').orderAttachment({
            config: <?php echo $this->getAttachmentConfig() ?>,
        }, this);
    });
});
</script>
<?php endif; ?>
