.canvas_icons {
    @size: 25px;
    position: relative;
    top: 0;
    margin: 0 5px 0 0;
    padding: 0;
    width: @size;
    height: @size;
    line-height: @size !important;
    text-align: center;
    font-size: 20px;

    display: inline-block;
    font-family: 'font-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow: hidden;
    &:before {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
    }
}

.widget.block.block-static-block {
    @media (min-width: 768px) {
        margin: 0;
        width: 100%;
        max-width: 100%;
        padding: 0;
        > * {
            margin: 0;
            padding: 0;
        }

        img {
            display: block;
        }
    }
}
.header.panel > .header.links > li.welcome {
    line-height: inherit !important;
}
:root .page-header-v2 .page-header .header.links > .customer-welcome .customer-name {
    width: 17px;
}
.page-header {
    .header-global-promo {
        .global-notification-wrapper {
            display: none;
            position: relative;
            top: 0px;
            width: 100%;
            padding: 10px;
            text-align: center;
            z-index: 1;
            a.close-global-notification {
                display: block;
                width: 9px;
                height: 9px;
                opacity: 1;
                margin-top: 3px;
                float: right;
                font-size: 12px;
                line-height: 1;
                position: absolute;
                top: 10px;
                right: 20px;
                color: #000;
            }
        }
        .notice-inner {
            margin: 0 auto;
            padding: 0px;
            width: 90%;
            * {
                text-transform: none !important;
            }
        }
    }
    #switcher-language, #switcher-store, #switcher-currency {
        &.switcher strong {
            font-size: 12px;
        }
        .options ul.dropdown {
            right: 0;
            z-index: 999;
            &:before {
                left: auto;
                right: 10px;
            }
            &:after {
                left: auto;
                right: 9px;
            }
            li {
                a {
                    font-size: 12px;
                }
            }
        }
    }
    * {
        text-transform: uppercase;
    }
    .header {
        .minicart-wrapper * {
            text-transform: uppercase;
        }
    }
}
.page-header-v2,
.page-header-v3,
.page-header-v4 {
    .header.content {
        padding: 21px 0 21px 0;
        margin: 0 auto;
        .logo {
            margin: 0 30px 0 0;
        }
    }
}
.page-header-v3{
    .header.content {
        padding: 18px 0 18px 0;
        .header_right {
            padding: 0 !important
        }
        .block-search.minisearch-v2 {
            padding: 0 15px;
        }
    }
}
.page-header-v4 {
    .header.panel > .header.links {
        float: left;
        margin-left: 0;
        margin-top: 10px;
        li.greet.welcome {
            float: left;
            min-width: 20px;
        }
    }
    .panel.header {
        .multistore-switcher {
            margin-left: 0;
        }
        .switcher-currency {
            float: left;
            top: 10px;
            position: relative;
        }
        #switcher-language {
            .options {
                &.switcher-options {
                    ul.dropdown {
                        right: unset;
                        left: 0;
                        &:before,
                        &:after {
                            right: unset;
                            left: 10px;
                        }
                    }
                }
            }
        }
    }
    .page-header {
        .block-search {

        }
    }
    .header.content {
        text-align: center;
        .logo {
            float: none;
            img {
                display: inline-block;
            }
        }
    }
}

.nav-open .nav-toggle::after {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.page-wrapper {
    .page-header {
        @media (max-width: 767px) {
            .header.content,
            .header_right {
                max-width: 100%;
            }
        }
        .panel.wrapper {
            position: relative;
        }
    }
}

.page-header {
    @logo_img_height: 34px;
    position: relative;
    z-index: 10;
    .block-search{
        input{
            text-transform: none !important;
        }
    }
    .header.content {
        :root .wp-device-xxs .page-header-v &,
        :root .wp-device-xs .page-header-v4 &,
        :root .wp-device-s .page-header-v4 &,
        :root .wp-device-m .page-header-v4 & {
            padding: 18px 0 14px 0;
        }
    }
    :root .wp-device-xxs .page-header-v2 &,
    :root .wp-device-xs .page-header-v2 &,
    :root .wp-device-s .page-header-v2 &,
    :root .wp-device-m .page-header-v2 &,
    :root .wp-device-xxs .page-header-v3 &,
    :root .wp-device-xs .page-header-v3 &,
    :root .wp-device-s .page-header-v3 &,
    :root .wp-device-m .page-header-v3 &,
    :root .wp-device-xxs .page-header-v4 &,
    :root .wp-device-xs .page-header-v4 &,
    :root .wp-device-s .page-header-v4 &,
    :root .wp-device-m .page-header-v4 & {
        margin-bottom: 0;
        border: 0;
    }
    .compare.wrapper {
        :root .page-header-v2 & {
            float: left;
        }
    }
    .compare.wrapper {
        :root .page-header-v3 &,
        :root .page-header-v4 & {
            margin: 5px 0 0 20px;
        }
    }
    .compare.wrapper {
        :root .page-header-v4 & {
            float: left;
            margin: 15px 20px 0 0;
        }
    }
    .panel.header {
        :root .page-header-v2 & {
            width: 100%;
            margin: 0 auto;
        }
        :root .page-header-v4 & {
            padding-top: 5px;
            padding-bottom: 5px;
        }
        :root .wp-device-xxs .page-header-v4 &,
        :root .wp-device-xs .page-header-v4 &,
        :root .wp-device-s .page-header-v4 &,
        :root .wp-device-m .page-header-v4 & {
            float: left;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            padding: 0 15px;
        }

        @media (min-width: 768px) {
            :root .page-header-v2 & {
                padding-bottom: 0;
            }
        }
    }
    .header.content {
        @header_content_height: 76px;
        @calc_padding: calc((@header_content_height - @logo_img_height) / 2);
        :root .wp-device-xxs .page-header-v1 &,
        :root .wp-device-xs .page-header-v1 &,
        :root .wp-device-s .page-header-v1 &,
        :root .wp-device-m .page-header-v1 & {
            padding-bottom: 5px;
            padding-top: 15px;
        }
        :root .wp-device-l .page-header-v2 &,
        :root .wp-device-xl .page-header-v2 &,
        :root .wp-device-l .page-header-v3 &,
        :root .wp-device-xl .page-header-v3 &,
        :root .wp-device-l .page-header-v4 &,
        :root .wp-device-xl .page-header-v4 & {
            height: auto;
            padding: 21px 0;
            margin: 0 auto;
        }
        :root .wp-device-l .page-header-v4 &,
        :root .wp-device-xl .page-header-v4 & {
            text-align: center;
            height: auto;
        }
    }

    .compare.wrapper {
        font-size: 12px;
        color: #303030;
        li > a {
            color: #303030;
        }
    }

    #switcher-language .options ul.dropdown {
        right: 0;
        &:before {
            left: auto;
            right: 10px;
        }
        &:after {
            left: auto;
            right: 9px;
        }
    }

    #switcher-store,
    #switcher-currency,
    #switcher-language {
        :root .wp-device-xxs &,
        :root .wp-device-xs &,
        :root .wp-device-s &,
        :root .wp-device-m & {
            display: none;
        }
        :root .page-header-v4 &,
        :root .wp-device-l .page-header-v4 &,
        :root .wp-device-xl .page-header-v4 & {
            float: left;
            margin-left: 0;
            margin-right: 15px;
            margin-top: 10px;
        }
        :root .page-header-v2 & {
            margin: 5px 10px 0 !important;
            margin: 3px 10px 0;
            padding: 0;
        }
        .mage-dropdown-dialog {
            .dropdown.switcher-dropdown {
                right: 0;
                &:before {
                    left: auto;
                    right: 10px;
                }
                &:after {
                    left: auto;
                    right: 9px;
                }
                :root .page-header-v2 & {
                    padding: 0 5px;
                }
            }
        }

    }

    #switcher-store-trigger,
    #switcher-currency-trigger,
    #switcher-language-trigger {
        margin-bottom: 0;
    }

    .action.nav-toggle {
        :root .wp-device-xxs .page-header-v1 &,
        :root .wp-device-xs .page-header-v1 &,
        :root .wp-device-s .page-header-v1 &,
        :root .wp-device-m .page-header-v1 & {
            top: 12px;
        }
        :root .wp-device-xxs .page-header-v4 &,
        :root .wp-device-xs .page-header-v4 &,
        :root .wp-device-s .page-header-v4 &,
        :root .wp-device-m .page-header-v4 {
            top: 15px;
        }
        :root .wp-device-l .page-header-v1 &,
        :root .wp-device-xl .page-header-v1 & {
            margin-bottom: 0;
        }
    }

    .logo {
        z-index: 10;
        :root .wp-device-xxs .page-header-v1 &,
        :root .wp-device-xs .page-header-v1 &,
        :root .wp-device-s .page-header-v1 &,
        :root .wp-device-m .page-header-v1 &,
        :root .wp-device-xxs .page-header-v2 &,
        :root .wp-device-xs .page-header-v2 &,
        :root .wp-device-s .page-header-v2 &,
        :root .wp-device-m .page-header-v2 &,
        :root .wp-device-xxs .page-header-v3 &,
        :root .wp-device-xs .page-header-v3 &,
        :root .wp-device-s .page-header-v3 &,
        :root .wp-device-m .page-header-v3 &,
        :root .wp-device-xxs .page-header-v4 &,
        :root .wp-device-xs .page-header-v4 &,
        :root .wp-device-s .page-header-v4 &,
        :root .wp-device-m .page-header-v4 & {
            margin-left: 40px;
        }
        :root .wp-device-l .page-header-v2 &,
        :root .wp-device-xl .page-header-v2 &,
        :root .wp-device-l .page-header-v4 &,
        :root .wp-device-xl .page-header-v4 & {
            margin: 0 30px 0 0;
        }
        :root .wp-device-xxs .page-header-v3 &,
        :root .wp-device-xs .page-header-v3 &,
        :root .wp-device-s .page-header-v3 & {
            margin: 3px 30px 0 40px;
        }
        :root .wp-device-l .page-header-v4 &,
        :root .wp-device-xl .page-header-v4 & {
            float: none;
        }
        :root .wp-device-xxs .page-header-v2 &,
        :root .wp-device-xs .page-header-v2 &,
        :root .wp-device-s .page-header-v2 &,
        :root .wp-device-m .page-header-v2 & {
            margin: 0 0 10px 40px;
        }
        :root .wp-device-xxs.checkout-index-index .page-header-v1 &,
        :root .wp-device-xs.checkout-index-index .page-header-v1 &,
        :root .wp-device-s.checkout-index-index .page-header-v1 &,
        :root .wp-device-m.checkout-index-index .page-header-v1 &,
        :root .wp-device-xxs.checkout-index-index .page-header-v2 &,
        :root .wp-device-xs.checkout-index-index .page-header-v2 &,
        :root .wp-device-s.checkout-index-index .page-header-v2 &,
        :root .wp-device-m.checkout-index-index .page-header-v2 &,
        :root .wp-device-xxs.checkout-index-index .page-header-v3 &,
        :root .wp-device-xs.checkout-index-index .page-header-v3 &,
        :root .wp-device-s.checkout-index-index .page-header-v3 &,
        :root .wp-device-m.checkout-index-index .page-header-v3 &,
        :root .wp-device-xxs.checkout-index-index .page-header-v4 &,
        :root .wp-device-xs.checkout-index-index .page-header-v4 &,
        :root .wp-device-s.checkout-index-index .page-header-v4 &,
        :root .wp-device-m.checkout-index-index .page-header-v4 & {
            margin-left: 0;
        }
        img {
            :root .page-header-v1 &,
            :root .page-header-v2 &,
            :root .page-header-v3 &,
            :root .page-header-v4 &,
            :root .page-header-v1.sticky-header &,
            :root .page-header-v2.sticky-header &,
            :root .page-header-v3.sticky-header &,
            :root .page-header-v4.sticky-header &{
                width: auto;
                height: @logo_img_height;
            }
            :root .wp-device-l .page-header-v4 &,
            :root .wp-device-xl .page-header-v4 & {
                display: inline-block;
            }
        }
    }

    .header_right {
        :root .page-header-v2 &,
        :root .page-header-v3 &,
        :root .page-header-v4 & {
            float: right;
            position: relative;
            margin: 5px 0 0;
        }
        :root .wp-device-xxs .page-header-v4 &,
        :root .wp-device-xs .page-header-v4 &,
        :root .wp-device-s .page-header-v4 &,
        :root .wp-device-m .page-header-v4 & {
            position: static;
            margin-top: 15px;
        }
    }

    #switcher-store,
    #switcher-currency,
    #switcher-language,
    .compare.wrapper li a,
    .header.links,
    .minicart-wrapper,
    .block-search {
        :root .page-header-v2 & {
            float: left;
            margin: 0 5px;
            padding: 0 5px;
        }
    }

    a.action.showcart {
        :root .page-header-v2 & {
            margin-top: 1px;
        }
        :root .wp-device-m .page-header-v2 & {
            margin-top: 0;
        }
        :root .page-header-v3 & {
            position: relative;
            top: -4px;
        }
        :root .wp-device-m .page-header-v4 & {
            margin-top: 2px;
        }
    }
    .minisearch-v2 {
        :root .page-header-v2 & {
            margin-top: 2px;
        }
    }

    .compare.wrapper li,
    .compare.wrapper li a {
        :root .page-header-v3 &,
        :root .page-header-v4 &{
            margin: 0;
            line-height: 1;
        }
    }

    .header.links {
        :root .wp-device-xxs &,
        :root .wp-device-xs &,
        :root .wp-device-s &,
        :root .wp-device-m & {
            display: none;
        }
        :root .page-header-v2 & {
            list-style: none;
            margin-top: 2px;
        }
        :root .wp-device-l .page-header-v4 &,
        :root .wp-device-xl .page-header-v4 & {
            float: left;
            margin-left: 0;
            margin-right: 15px;
        }
        li {
            :root .wp-device-l .page-header-v2 &,
            :root .wp-device-xl .page-header-v2 & {
                float: left;
                line-height: 1;
                margin: 0;
                padding: 0;
            }
        }
        .greet.welcome {
            :root .wp-device-l .page-header-v2 &,
            :root .wp-device-xl .page-header-v2 & {
                display: none;
            }
            :root .wp-device-l .page-header-v4 &,
            :root .wp-device-xl .page-header-v4 & {
                float: left;
                margin-left: 0;
                margin-right: 0;
            }
        }
        > li {
            :root .page-header-v2 & {
                display: none;
            }
            &.authorization-link  {
                :root .page-header-v2 & {
                    display: block !important;
                    &:after {
                        display: none;
                    }
                }
                a:not([data-post]) {
                    :root .page-header-v2 & {
                        &:extend(.canvas_icons);
                        top: 2px;
                        font-size: 0;
                        &:before {
                            content: "\e66c";
                            font-family: inherit;
                            font-size: inherit;
                            color: inherit;
                        }
                    }
                }
                &:after {
                    font-size: 12px;
                }
            }
            &.customer-welcome {

                :root .page-header-v2 & {
                    display: block !important;
                    &:after {
                        display: none;
                    }
                }
            }
        }
        > .customer-welcome {
            .customer-name {
                :root .page-header-v2 & {
                    &:extend(.canvas_icons);
                    &:before {
                        content: "\e66c";
                        font-family: inherit;
                        font-size: inherit;
                        color: inherit;
                        font-size: 16px;
                    }

                }
            }
            .customer-menu {
                .header.links {
                    position: absolute;
                    :root .page-header-v2 & {
                        right: -7px;
                        margin-top: 5px;
                        padding: 10px;
                        li {
                            display: block;
                            float: none;
                            a {
                                width: auto;
                                height: auto;
                                font-size: 12px;
                                padding: 8px;
                                display: block;
                                text-align: left;
                                &:before {
                                    content: '';
                                    font-size: 12px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        * {
            font-size: 12px;
        }
    }

    .minicart-wrapper {
        float: right;
        line-height: 1;
        :root .page-header-v2 &,
        :root .page-header-v3 &,
        :root .page-header-v4 & {
            margin: 0 5px;
            padding: 0 5px;
            margin-right: 0;
            padding-right: 0;
        }
        :root .wp-device-xxs .page-header-v2 &,
        :root .wp-device-xs .page-header-v2 &,
        :root .wp-device-s .page-header-v2 &,
        :root .wp-device-m .page-header-v2 &,
        :root .wp-device-xxs .page-header-v3 &,
        :root .wp-device-xs .page-header-v3 &,
        :root .wp-device-s .page-header-v3 &,
        :root .wp-device-m .page-header-v3 &,
        :root .wp-device-xxs .page-header-v4 &,
        :root .wp-device-xs .page-header-v4 &,
        :root .wp-device-s .page-header-v4 &,
        :root .wp-device-m .page-header-v4 & {
            float: right;
        }
        .action.showcart,
        .action.showcart.active {
            margin: 0;
            padding: 0;
            &:before {
                content: "\e72f";
                font-family: inherit;
                display: inline-block;
                font-family: 'font-icons';
                font-size: 16px;
                color: inherit;
                line-height: 30px;
            }
            .counter.qty {
                min-width: 20px;
            }

        }
        * {
            text-transform: none;
        }
    }

    .block-search {
        width: auto;
        height: auto;
        :root .page-header-v2 & {
            position: absolute;
            right: 0;
            top: 90px;
            margin-right: 0;
            padding-right: 0;
        }
        :root .wp-device-xxs .page-header-v2 &,
        :root .wp-device-xs .page-header-v2 &,
        :root .wp-device-s .page-header-v2 &,
        :root .wp-device-m .page-header-v2 & {
            float: none;
            position: static;
            top: 0;
            right: 0;
            margin-top: 3px;
        }

        :root .wp-device-l .page-header-v4 &,
        :root .wp-device-xl .page-header-v4 & {
            margin-top: 0;
        }
        :root .wp-device-xxs .page-header-v4 &,
        :root .wp-device-xs .page-header-v4 &,
        :root .wp-device-s .page-header-v4 &,
        :root .wp-device-m .page-header-v4 & {
            float: left;
        }
        &.minisearch-v2 {
            :root .wp-device-xxs .page-header-v2 &,
            :root .wp-device-xs .page-header-v2 &,
            :root .wp-device-s .page-header-v2 &,
            :root .wp-device-m .page-header-v2 & {
                position: absolute;
                right: 15px;
            }

        }
        .control {
            z-index: 99;
            :root .wp-device-xxs .page-header-v2 &,
            :root .wp-device-xs .page-header-v2 &,
            :root .wp-device-s .page-header-v2 &,
            :root .wp-device-m .page-header-v2 &,
            :root .wp-device-xxs .page-header-v3 &,
            :root .wp-device-xs .page-header-v3 &,
            :root .wp-device-s .page-header-v3 &,
            :root .wp-device-m .page-header-v3 &,
            :root .wp-device-xxs .page-header-v4 &,
            :root .wp-device-xs .page-header-v4 &,
            :root .wp-device-s .page-header-v4 &,
            :root .wp-device-m .page-header-v4 & {
                border: none;
                height: 0px;
                overflow: hidden;
            }
            input {
                box-sizing: border-box;
                &:focus {
                    box-shadow: 0 0 3px 1px lightgrey;
                    border-color: transparent;
                }
                :root .wp-device-xxs .page-header-v2 &,
                :root .wp-device-xs .page-header-v2 &,
                :root .wp-device-s .page-header-v2 &,
                :root .wp-device-m .page-header-v2 & {
                    float: left;
                    position: relative;
                    top: 0;
                }
                :root .page-header-v2 &,
                :root .page-header-v1 &{
                    padding-left: 0;
                    padding-right: 0;
                    &:focus {
                        box-shadow: none;
                    }
                }
                :root .page-header-v3 &  {
                    padding-left: 0;
                    padding-right: 0;
                    &:focus {
                        box-shadow: none;
                    }
                }
                :root .page-header-v3 &  {
                    padding-left: 0;
                    padding-right: 0;
                    &:focus {
                        box-shadow: 0 0 3px 1px transparent;
                    }
                }
                :root .page-header-v4 & {
                    padding-left: 5px;
                    padding-right: 40px;
                    &:focus {
                        box-shadow: 0 0 3px 1px transparent;
                    }
                }
                :root .wp-device-xxs .page-header-v2 &,
                :root .wp-device-xs .page-header-v2 &,
                :root .wp-device-s .page-header-v2 &,
                :root .wp-device-m .page-header-v2 & {
                    padding-right: 10px;
                    padding-left: 10px;
                }
            }
        }
        label {
            :root .wp-device-xxs .page-header-v1 &,
            :root .wp-device-xs .page-header-v1 &,
            :root .wp-device-s .page-header-v1 &,
            :root .wp-device-m .page-header-v1 &,
            :root .wp-device-xxs .page-header-v2 &,
            :root .wp-device-xs .page-header-v2 &,
            :root .wp-device-s .page-header-v2 &,
            :root .wp-device-m .page-header-v2 &,
            :root .wp-device-xxs .page-header-v3 &,
            :root .wp-device-xs .page-header-v3 &,
            :root .wp-device-s .page-header-v3 &,
            :root .wp-device-m .page-header-v3 &,
            :root .wp-device-xxs .page-header-v4 &,
            :root .wp-device-xs .page-header-v4 &,
            :root .wp-device-s .page-header-v4 &,
            :root .wp-device-m .page-header-v4 & {
                cursor: pointer;
                margin-right: 5px;
                padding-right: 5px;
                &.active {
                    + .control {
                        height: auto;
                        overflow: visible;
                        position: relative;
                        top: 0px;
                        left: 0;
                        float: left;
                        width: 100%;

                        background-color: #fff;
                        padding: 0px;
                        margin: 0;
                        input {
                            float: left;
                            width: 100%;
                            position: static;
                            margin: 0;
                        }
                    }
                }
                &:before {
                    margin-top: 4px;
                    font-size: 20px;
                    line-height: 25px;
                    color: inherit;
                }
                x:-moz-any-link, x:default, &:before {
                    margin-top: 4px;
                }
            }
            :root .wp-device-xxs .page-header-v2 &,
            :root .wp-device-xs .page-header-v2 &,
            :root .wp-device-s .page-header-v2 &,
            :root .wp-device-m .page-header-v2 & {
                margin-right: -20px;
            }
            :root .wp-device-xxs .page-header-v3 &,
            :root .wp-device-xs .page-header-v3 &,
            :root .wp-device-s .page-header-v3 &,
            :root .wp-device-m .page-header-v3 & {
                margin-right: -5px;
            }
            :root .wp-device-xxs .page-header-v4 &,
            :root .wp-device-xs .page-header-v4 &,
            :root .wp-device-s .page-header-v4 &,
            :root .wp-device-m .page-header-v4 & {
                margin-right: -10px;
            }
            :root .wp-device-xxs .page-header-v2 &,
            :root .wp-device-xs .page-header-v2 &,
            :root .wp-device-s .page-header-v2 &,
            :root .wp-device-m .page-header-v2 &,
            :root .wp-device-xxs .page-header-v3 &,
            :root .wp-device-xs .page-header-v3 &,
            :root .wp-device-s .page-header-v3 &,
            :root .wp-device-m .page-header-v3 &,
            :root .wp-device-xxs .page-header-v4 &,
            :root .wp-device-xs .page-header-v4 &,
            :root .wp-device-s .page-header-v4 &,
            :root .wp-device-m .page-header-v4 & {
                &.active {
                    + .control {
                        border: none;
                    }
                }
            }
            :root .wp-device-xxs .page-header-v4 &,
            :root .wp-device-xs .page-header-v4 &,
            :root .wp-device-s .page-header-v4 &,
            :root .wp-device-m .page-header-v4 & {
                &:before {
                    margin-top: 0;
                }
            }
        }
        .actions {
            button {
                z-index: 99;
                :root .page-header-v2 &,
                :root .page-header-v3 &,
                :root .page-header-v4 & {
                    right: 10px;
                    left: auto;
                    &:before {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.opc-estimated-wrapper {
    .minicart-wrapper {
        button.action.showcart {
            &:before {
                content: "\e72f";
                font-family: 'font-icons';
            }
            .counter.qty span {
                display: block;
                line-height: 22px;
                font-size: 14px;
                padding: 0 3px;
            }
        }
    }
}

.panel.wrapper {
    :root .page-header-v2 & {
        display:none;
    }
}

body.checkout-index-index {
    .nav-sections {
        display: block;
    }
}

._has-auth-shown .authentication-wrapper {
    z-index: 9;
}

.nav-sections {
    :root .page-header-v3 &,
    :root .page-header-v4 & {
        float: left;
    }
    &.nav-sections-2 {
        nav {
            > ul {
                padding: 0;
            }
        }
    }
    .header.links {
        :root .wp-device-xxs &,
        :root .wp-device-xs &,
        :root .wp-device-s &,
        :root .wp-device-m & {
            display: block;
        }
    }
}

.page-wrapper {
    .page-header-v1,
    .page-header-v2,
    .page-header-v4 {
        & + .nav-sections {
            padding-bottom: 15px;
        }
    }
    .sections.nav-sections-4 {
        text-align: center;
    }
}

.navigation {
    width: 100%;
    margin: 0 auto;
    > ul {
        padding: 0 !important;
        :root .wp-device-l .nav-sections-4 &,
        :root .wp-device-xl .nav-sections-4 & {
            text-align: center;
        }
        > li {
            :root .wp-device-l .nav-sections-4 &,
            :root .wp-device-xl .nav-sections-4 & {
                float: none;
                display: inline-block;
                > ul li a {
                    text-align: left;
                }
            }
            > ul li a {
                text-transform: uppercase;
                span {
                    text-transform: uppercase;
                }
            }
        }
    }

    ul {
        padding: 0;
        li {
            &.level0.first {
                > a {
                    @media (min-width: 768px) {
                        padding-left: 0;
                    }
                }
                &.has-active {
                    > a {
                        @media (min-width: 768px) {

                        }
                    }
                }
            }
        }
    }
}

.page-wrapper {
    .top-container {
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
}

.maincontent {
    margin-top: 15px;
}

.page-header-v4,
.page-header-v3,
.page-header-v2,
.page-header-v1{
    .page-header {
        .header_right {
            padding-right: 0px !important;
        }
    }
    .block-search{
        .control{
            input{
                padding: 0 10px !important;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    :root .theme-pearl {
        .page-wrapper {
            .page-header {
                .header.content {

                }
                .logo {
                    z-index: 5;
                }
                &.sticky-header:not(.page-header-v4) {
                    .logo {
                        left: 15px;
                    }
                    .sticky-header-nav {
                        margin-left: 10px;
                    }
                }
                .welcome-cont{
                    .compare.wrapper{
                        display: none;
                    }
                    .greet.welcome{
                        min-width: auto !important;
                    }
                    .authorization-link{
                        margin-left: 0px !important;
                    }
                }
                .customer-welcome .action.switch:after{
                    line-height: 17px !important;
                }
                .switcher .options .action.toggle:after{
                    line-height: initial;
                    padding-top: 6px;
                }
            }
        }
    }
    .page-wrapper {
        .nav-sections {
            position: relative;
            z-index: 2;
            &.nav-sections-4 {
                z-index: 9;
            }
        }
        .customer-welcome {
            .action.switch {
                color: #000000;
            }
        }
    }

    .page-header .minicart-wrapper .action.showcart .counter.qty,
    .page-header .minicart-wrapper .action.showcart.active .counter.qty {
        min-width: 20px;
        height: 20px;
        line-height: 18px;
        margin-top: 4px;
        margin-left: 2px;
    }
    .wrap{
        .modal{
            .searchautocomplete.horizontally{
                .product-list li{
                    margin-right: 10px;
                    .block-right{
                        a{
                            font-weight: normal !important;
                            max-width: 140px;
                            display: inherit;
                            margin: 0 auto;
                        }
                    }
                }
            }
            #search.horizontally-white{
                font-weight:bold;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .checkout-index-index {
        .nav-toggle {
            display: inline-block;
        }

        .header_right {
            .minicart-wrapper {
                display: none;
            }
        }
    }

    .page-wrapper {
        .page-header-v4 {
            .page-header {
                .block-search {
                    float: left;
                }
                .panel {
                    .panel.header {
                        padding: 0 15px;
                        position: absolute;
                    }

                    .header_right {
                        margin-top: 15px;
                    }
                }
            }
        }
    }

    .search-description{
        span{
            display: block;
        }
    }
    .page-header-v1.page-header {
        .modal{
            .control.vertically-control.loader-ajax{
                &:after{
                    top: 20px;
                }
            }
            #search{
                margin-bottom: 0px;
            }
        }
    }
    .page-header-v2.page-header {
        .block-search.minisearch-v2 {
            margin-right: 21px;
            padding-right: 20px;
            .open-modal-search{
                font-size: 20px;
                margin-top: -2px;
            }
        }
        .modal{
            .control.vertically-control.loader-ajax{
                &:after{
                    top: 20px;
                }
            }
            .control{
                overflow: initial !important;
                height: auto !important;
                #search{
                    margin-bottom: 0px;
                }
            }

        }
    }
    .page-header-v3.page-header {
        .modal {
            .control.vertically-control.loader-ajax {
                &:after {
                    top: 20px;
                }
            }
            #search{
                margin-bottom: 0px;
                margin-top: 0px;
            }
        }
    }
    .page-header-v4.page-header {
        .modal{
            .block-search{
                margin-top: 0px;
            }
            .control.vertically-control.loader-ajax {
                &:after {
                    top: 20px;
                }
            }
            .control{
                overflow: initial !important;
                height: auto !important;
            }
        }
        #search_mini_form{
            .control:not(.vertically-control):not(.horizontally-control){
                position: absolute;
                top:55px;
                padding: 0  15px;
            }
        }
    }

    :root{
        .wp-device-xs{
            .page-header-v4{
                .page-header{
                    .block-search{
                        label.active + .control{
                            border-top: 0 none !important;
                        }
                    }
                }
            }
        }
    }

    .page-wrapper {
        .header.content {
            .logo{
                max-width: 65%;
                margin-bottom: 13px;
                margin-top: 4px;
                z-index: 0;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .page-header {
            margin-bottom: 0px;
            border: none;
            .panel.header {
                max-width: 100% !important;
                width: 100% !important;
                .header_right {
                    padding-right: 0 !important;
                }
            }
            .minicart-wrapper .action.showcart.active:before,
            .minicart-wrapper .action.showcart:before {
                font-size: 22px !important;
            }
        }
        .page-main {
            padding-top: 20px;
        }
        .page-header-v1{
            .block-search{
                .control{
                    border-top: none;
                }
            }
            .nav-toggle{
                &:before{
                    margin-top: 4px;
                }
            }
        }
        .page-header-v2{
            .field.search{
                label{
                    &:before{
                        margin-top: 0px !important;
                    }
                }
            }
            .page-header{
                .header_right{
                    margin:0px;
                    padding-right: 0px !important;
                }
            }
        }

        .page-header-v4,
        .page-header-v3,
        .page-header-v2,
        .page-header-v1{
            .page-header {
                .header_right {
                    padding-right: 0px !important;
                }
            }
            .block-search{
                .control{
                    border: none !important;
                }
            }
        }

        .page-header-v4 {
            .page-header {
                .block-search {
                    margin-top: 5px;
                }
                .header_right{
                    margin-top: 0;
                    .action {
                        &:before{

                        }
                    }
                    label{
                        padding-right: 10px !important;
                    }
                }
            }
        }
    }

    .nav-sections {
        .section-item-content {
            .switcher-store {
                .switcher-options {
                    .switcher-dropdown {
                        display: none;
                    }
                    &.active {
                        .switcher-dropdown {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .account {
        .block-collapsible-nav {
            top: 0px;
            z-index: 1;
        }
    }

    .search-autocomplete {
        margin-top: 30px;
    }
    .page-wrapper .page-header .header.content .modal #search.vertically-black{
        font-size: 18px !important;
        &::-webkit-input-placeholder {
            font-size: 18px !important;
        }
        &::-moz-placeholder{
            font-size: 18px !important;
        }
        &:-ms-input-placeholder{
            font-size: 18px !important;
        }
        &:-moz-placeholder{
            font-size: 18px !important;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .page-wrapper {
        .page-header-v1 {
            .header.content {
                padding-left: 0 !important;
            }
        }
    }
    .mobile-nav {
        .page-wrapper {
            .page-header-v1,
            .page-header-v2,
            .page-header-v3 {
                .header.content {
                    padding-left: 20px !important;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .page-header.page-header-v1{
        .minicart-wrapper,
        .block-search{
            margin-top: 4px;
        }
    }
}

/* Sticky header */
.page-header-v1 &,
.page-header-v2 &,
.page-header-v3 &,
.page-header-v4 &,
.header.content .block-search &,
.header.content .header.links {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
/* All header version */
.page-header.sticky-header {
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 20px 30px 0 rgba(0,0,0,0.05);
    -moz-box-shadow: 0 20px 30px 0 rgba(0,0,0,0.05);
    -o-box-shadow: 0 20px 30px 0 rgba(0,0,0,0.05);
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.05);
    top: 0;
    .panel.wrapper {
        border: 0 none;
    }
    .header.content {
        padding-top: 20px;
        padding-bottom: 5px;
        .logo {
            margin-top: -5px;
            margin-bottom: 0;
            height: auto;
        }
    }
    .switcher-currency,
    .compare.wrapper,
    .switcher-language {
        display: none !important;
    }
    // too wide navigation
    .nav-sections.too-wide {
        clear: both;
        left: 0 !important;
        margin-top: 5px !important;
        margin-left: 0 !important;
        .navigation {
            padding-left: 0 !important;
            padding-right: 0 !important;
            .megamenu.level-top-fullwidth {
                .fullwidth {
                    left: 0 !important;
                }
            }
        }
    }
    .global-notification-wrapper {
        display: none !important;
    }
    &:not(.page-header-v4) {
        .logo {
            position: absolute;
            top: 48%;
        }
    }
}
/* Custom styles for particular headers */
.page-header-v1.sticky-header {
    .header.content {
        padding-bottom: 0;
        .logo {
            margin-top: 0;
        }
        .nav-sections {
            margin-top: -5px;
            float: left;
            .level0.level-top {
                padding-bottom: 15px;
            }
        }
    }
}
.page-header-v2.sticky-header {
    top: 0;
    .header.content {
        .block-search {
            float: right;
            position: relative;
            top: 5px;
            z-index: 10;
        }
        .block-search.minisearch-v2{
            top: 5px;
            margin-left: 25px;
        }
        .logo {
            margin-top: 0;
        }
        .header_right {
            .multistore-switcher {
                display: none;
            }
        }
    }
    .nav-sections {
        .navigation {
            .level0.submenu {
                top: 60px !important;
            }
        }
    }
}
.page-header-v3.sticky-header {
    .header.content {
        .logo {
            margin-top: 0;
        }
    }
}
.page-header-v4.sticky-header {
    top: 0;
    padding-bottom: 2px;
    height: 50px;
    box-shadow: none;
    z-index: 11;
    .page-header {
        height: 0;
    }
    .panel.wrapper {
        border: 0 none;
    }
    .header.content {
        top: -60px;
        padding-bottom: 0 !important;
        .logo {
            top: 5px;
            display: block;
            margin: 0 auto;
            z-index: 10;
            position: relative;
        }
    }
    .header.links {
        z-index: 10;
        position: relative;
    }
    .panel.header {
        .header.links,
        .switcher-currency{
            display: none;
        }
    }
}
.nav-sections-4.sticky-header {
    position: fixed !important;
    z-index: 10 !important;
    width: 100%;
    top: 45px;
    -webkit-box-shadow: 0 20px 30px 0 rgba(0,0,0,0.05);
    -moz-box-shadow: 0 20px 30px 0 rgba(0,0,0,0.05);
    -o-box-shadow: 0 20px 30px 0 rgba(0,0,0,0.05);
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.05);
    .navigation {
        padding-bottom: 5px;
        .level0.submenu {
            top: 44px !important;
        }
    }
}
.page-header.sticky-header-mobile {
    position: fixed;
    top: 0;
    width: 100%;
    .panel.wrapper {
        border-bottom: 0 none;
    }
}
.header-global-promo{
    #carousel{
        position: relative;
        &.no-carousel{
            #slides{
                ul{
                    left: 0px !important;
                }
            }
        }
    }
    .btn-bar{
        width: 100%;
        #buttons{
            a{
                text-align: right;
                display: inline-block;
                position: absolute;
                z-index: 999;
                text-decoration: none;
                line-height: 20px;
                font-size: 30px;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &.no-arrows{
            display: none;
        }
    }
    #slides{
        margin: 0 auto;
        overflow: hidden;
        ul{
            list-style: none;
            width:100%;
            margin: 0;
            padding: 0;
            position: relative;
            float:left;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            li{
                width:100%;
                float:left;
                text-align: center;
                position: relative;
                margin: 0;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                vertical-align: middle;
                .quoteContainer{
                    .wpx-i{
                        font-size: 20px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                        line-height: 20px;
                    }
                    .wpx-sub{
                        font-weight: bold;
                    }
                    .wpx-link{
                        font-size: 12px;
                        text-decoration: underline;
                        &:first-child{
                            margin-right: 10px;
                        }
                        &.wpx-mg{
                            margin-left: 10px;
                            margin-right: 10px;
                        }
                    }
                    .quote-phrase{
                        font-size: 12px;
                        margin-bottom: 0px;
                        display: inline-block;
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.hidescroll{
    overflow-y: hidden;
}
/* SEARCH VERSION */

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){
    .global-notification-wrapper{
        .btn-bar{
            #buttons{
                a#prev{
                    left: 0;
                }
                a#next{
                    right: 0;
                }
            }
        }
        #slides{
            max-width: 80%;
        }
    }
    .page-header-v3{
        .block-search label {
            margin-top: 3px;
        }
        .open-modal-search{
            padding-top: 7px;
            cursor: pointer;
        }
    }
    .page-header-v4{
        .page-header #switcher-currency{
            margin-top: 0 !important;
        }
        .open-modal-search{
            padding-left: 14px;
            padding-top: 5px;
            cursor: pointer;
        }
        .greet.welcome{
            span{
                margin-right: 15px;
            }
        }
    }
    :root{
        .page-header-v2{
            &:not(.sticky-header){
                .block-search.minisearch-v2{
                    display: none;
                    top: 3px;
                    margin-left: 25px;
                    position: relative;
                }
            }
        }
    }
    .page-header.sticky-header .header.content .block-search.wpx-block-search .field.search .control{
        background: transparent !important;
    }
    .page-header.sticky-header .header.content .block-search.wpx-block-search #search{
        background: transparent !important;
    }
    .wrap {
        .modal {
            .control.horizontally-control.loader-ajax{
                &:after{
                    top:28px;
                }
            }
            .control.vertically-control.loader-ajax{
                &:after{
                    top:20px;
                    margin-right: 65px;
                }
            }
        }
    }
    .page-header-v1,
    .page-header-v3,
    .page-header-v4 {
        .panel.wrapper {
            .panel.header {
                .greet.welcome {
                    span.not-logged-in,
                    span.logged-in {
                        margin-right: 0;
                    }
                }
                .customer-menu {
                    .header.links {
                        margin-right: -11px;
                    }
                }
                .switcher-dropdown {
                    margin-right: -10px;
                }
                .customer-welcome  ~ .authorization-link {
                    display: none;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l){
    .global-notification-wrapper{
        #slides{
            max-width: 55%;
        }
        .btn-bar{
            #buttons{
                a#prev{
                    left: 20.6%;
                }
                a#next{
                    right: 20%;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl){
    .global-notification-wrapper{
        #slides{
            max-width: 36%;
        }
        .btn-bar{
            #buttons{
                a#prev{
                    left: 30.6%;
                }
                a#next{
                    right: 30%;
                }
            }
        }
    }
}


.minisearch-v2{
    float:right;
}
.page-header-v1,
.page-header-v2,
.page-header-v3,
.page-header-v4{
    .open-modal-search{
        &:before{
            content: '\e615';
            font-family: 'luma-icons';
        }
    }
}

.page-header-v1{
    .open-modal-search{
        padding-top: 5px;
        padding-right: 11px;
    }
}

.wrap{
    .modal{
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 99999;
        padding: 0 8px;
        &:target{
            opacity: 1;
            pointer-events: auto;

        }
        &.isOpen{
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
            transition: all 500ms;
            -webkit-transition-delay: 0s;
            -moz-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0ms;
            .modal-content{
                opacity: 1;
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
                transform: translateY(0);
                -webkit-transition-delay: 0.5s;
                -moz-transition-delay: 0.5s;
                -o-transition-delay: 0.5s;
                transition-delay: 500ms;
            }
        }

        .close-sec{
            position: absolute;
            right: 10px;
            top: 10px;
            a{
                font-size: 30px;
                cursor: pointer;
            }
        }
        .form.minisearch{
            .searchautocomplete{
                min-width: 100% !important;
                position: absolute !important;
                right: auto !important;
                margin-top: 3px;
                &.vertically{
                    top: 66px;
                    .product-list{
                        margin: 0px;
                        li{
                            display: block;
                            .block-left{
                                margin-right:30px;
                            }
                            .block-left,
                            .block-right{
                                display: inline-block;
                                vertical-align: middle;
                            }
                            .block-right{
                                .price{
                                    margin-bottom: 0px;
                                }
                            }
                            &:last-child{
                                border-bottom: none !important;
                            }
                        }
                    }

                }
                &.horizontally{
                    .product-list{
                        display: flex;
                        li{
                            display: inline-block;
                            .block-left{
                                text-align: center;
                            }
                            .block-right{
                                text-align: center;
                            }
                        }
                    }
                }
                .product-list{
                    display: table;
                    width: 100%;
                    li{
                        margin-bottom: 0px;
                        padding-bottom: 0px;
                    }
                    .block-flex{
                        display: block;
                    }
                }
            }
        }

        .wpx-pos-search{
            display: inline-block;
            vertical-align: bottom;
            width:100%;
            .control{
                position: relative;
                .wpx-pos-search{
                    position: absolute;
                    top: 0px;
                    right: 0px;
                }
            }
            input{
                width: 100% !important;
                height: 66px !important;
                border: 3px solid !important;
                padding-left: 20px !important;
            }
            label{
                display: none;
            }
            a.closebutton {
                text-decoration: none;
                font-size: 75px;
                margin-left: 50px;
                position: relative;
                top: 11px;
                line-height: 26px;
                &:hover{
                    color:black;
                }
            }
            .action.search {
                padding: 12px 22px;
                border: none !important;
                margin-top: 5px;
                margin-right: 4px;
                right: 0px !important;
            }
        }
        .closeoverlay {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            -webkit-transition: opacity .15s linear;
            transition: opacity .15s linear;
            display: block;
            z-index: 2;
            position: fixed;
            cursor: pointer;
        }
        .modal-content{
            width: 80%;
            margin: 80px auto 0 auto;
            opacity: 0;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
            transition: all 500ms;
            -webkit-transform: translateY(-100px);
            -moz-transform: translateY(-100px);
            -ms-transform: translateY(-100px);
            -o-transform: translateY(-100px);
            transform: translateY(-100px);
        }
        .block.block-search.wpx-block-search{
            position: static !important;
            width: 100%;
            padding-left: 0px;
            margin-left:0px;
        }
    }
}
.search-visible-md{
    display: block;
    .open-modal-search{
        font-size: 15px;
    }
}






@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .wrap .modal .modal-content{
        margin-top: 80px !important;
        margin-left: 0 !important;
        margin-left: 0 !important;
    }
    .horizontally-control #search::-ms-clear {
        display: none;
    }
    .wrap .modal{
        position: absolute !important;
    }
    .header .quickcart-wrapper .block-quickcart{
        position: absolute !important;
        visibility: hidden;
    }
    .header .quickcart-wrapper .block-quickcart.quickCartIE{
        position: fixed !important;
        visibility: visible;
    }
    .wrap .modal.isOpenIE{
        position: fixed !important;
    }
    .header .quickcart-wrapper .block-quickcart{
        position: absolute !important;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
    .header-global-promo{
        .global-notification-wrapper{
            #slides{
                max-width: 100%;
            }
            .btn-bar{
                #buttons{
                    #prev{
                        left: -2%;
                    }
                    #next{
                        right: -5%;
                    }
                }
            }
            .glb-prm{
                .wpx-sub {
                    display: block;
                }
            }
        }
    }
    .page-wrapper .page-header .modal #search.horizontally-white{
        font-size: 18px !important;
        height: 44px !important;
    }
    .page-header-v1{
        .open-modal-search{
            padding-top: 3px;
            padding-right: 20px;
            font-size:20px;
        }
        .loader-ajax:after{
            top:9px;
        }
        .field.search{
            label{
                &:before{
                    margin-top: 5px !important;
                }
            }
        }
    }
    .page-header-v2{
        .action.showcart{
            &:before{
                line-height: 26px !important;
            }
        }
    }
    .page-wrapper{
        .page-header.page-header-v1,
        .page-header.page-header-v2,
        .page-header.page-header-v3,
        .page-header.page-header-v4{
            .modal #search.horizontally-white{
                font-size: 18px !important;
                height: 44px !important;
            }
        }
    }
    .page-header-v3{
        .loader-ajax:after{
            top:9px;
        }
        #search_mini_form .control{
            overflow: inherit;
            height: auto !important;
        }
        .block-search {
            margin-top: 4px;
        }
        .block-search.minisearch-v2 {
            margin-top: -4px;
        }
        .open-modal-search{
            font-size: 20px;
            margin-top: 7px;
            position: relative;
            right: -5px;
        }
        .field.search{
            label{
                &:before{
                    margin-top: 2px !important;
                }
            }
        }
        .wrap{
            .modal{
                .wpx-pos-search{
                    input{
                        margin-top: 4px;
                    }
                }
            }
        }
    }
    .page-header-v4{
        .open-modal-search{
            font-size: 20px;
            margin-right: 10px;
            margin-top: 3px;
        }
        .action.showcart{
            margin-top: 5px !important;
        }
        .field.search{
            label{
                &:before{
                    line-height: 34px !important;
                }
            }
        }
        #search_mini_form .control:not('.vertically-control'){
            position: absolute;
            top:55px;
            padding: 0  15px;
        }
        .loader-ajax:after{
            top: 9px;
        }
        .wrap {
            .modal {
                .wpx-pos-search{
                    input{
                        margin: 0px;
                    }
                }
            }
        }
    }
    .wrap {
        .modal {
            .modal-content{
                width: 95% !important;
            }
            .wpx-pos-search{
                input{
                    position: static !important;
                    margin-top:0px;
                }
            }
            .searchautocomplete{
                max-height: 60vh;
            }
            .searchautocomplete.vertically {
                .product-list li {
                    .block-flex{
                        display: flex !important;
                        align-items: center;
                    }
                    .block-left{
                        margin-right: 0px !important;
                    }
                    .block-right{
                        align-self: auto;
                    }
                }
            }
            .searchautocomplete.horizontally{
                top:42px;
                .product-list{
                    margin-top: 0px;
                    margin-bottom: 0px;
                    li{
                        display: flex !important;
                        align-items: center;
                        .block-left,
                        .block-right{
                            display: inline-block;
                            vertical-align: middle;
                        }
                        .block-left{
                            img{
                                max-width: 80px;
                            }
                        }
                        .block-right{
                            text-align: left !important;
                            a{
                                font-weight: normal !important;
                            }
                        }
                    }
                }
            }
            .loader-ajax:after{
                background-size: 22px 21px;
                top:9px;
                height: 25px;
            }
        }
    }

    .page-header-v4{
        .wrap{
            display: block;
        }
    }
    .header.content{
        .block-search{
            .wpx-pos-search{
                input{
                    width: 100% !important;
                    height: 66px !important;
                    background: transparent !important;
                    font-size: 12px !important;
                    color:black !important;
                    border-color: #333 !important;
                    border:none !important;
                    border-bottom: 1px solid black !important;
                }
            }
        }
    }
}