<?php
/**
 * Copyright © 2019 Wyomind. All rights reserved.
 * See LICENSE.txt for license details.
 */
?>
<?php if ($block->isAllowed()) : /* only if allowed */ ?>
    <div class="page-actions-placeholder"></div>
    <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
        <div class="page-actions-inner" data-title="">
            <div class="page-actions-buttons">                
                <button id="create-job" title="<?php echo __("Create New Job"); ?>" type="button" class="action- scalable primary" onclick="location.href = '<?php echo $block->getCreateJobUrl(); ?>';" data-ui-id="create-job-button">
                    <span><?php echo __("Create new Job"); ?></span>
                </button>
            </div>
        </div>
    </div>
<?php endif;