& when (@media-common = true) {
    #wp-sizechart-popup-modal {
        display: none;
    }

    .visitor_counter_wrapper {
        padding: 5px 0;
        display: none;
    }

    .wp-sales-off-msg {
        color: #FF0000;
        font-weight: bold;
    }

    .wp-productpage-prev-next {
        width: 100%;
        float: right;
        padding: 10px 0;
        z-index: 1;

        .product-page-v2 & {
            padding: 0;
            margin-bottom: -10px;
        }

        .wp-pp-next-link, .wp-pp-prev-link {
            display: none;
            float: right;

            &:after, &:before {
                font-size: 22px;
                line-height: 22px;
                color: #000;
                font-family: 'luma-icons';
                vertical-align: middle;
                display: inline-block;
                font-weight: normal;
                overflow: hidden;
                speak: none;
                text-align: center;
            }

            &.tooltip {
                margin: 0;
                z-index: 1;
            }
        }

        .wp-pp-prev-link {
            margin-right: 20px;

            &:before {
                content: '\e617';
            }
        }

        .wp-pp-next-link {
            margin-left: 20px;

            &:after {
                content: '\e608';
            }
        }

    }
    .theme-pearl.product-page-v1,
    .theme-pearl.product-page-v2,
    .theme-pearl.product-page-v3,
    .theme-pearl.product-page-v4 {
        .box-tocart .qty-wrapper {
            display: flex;
            align-items: center;
            margin-right: 20px;
        }
        .box-tocart {
            .actions-bottom {
                float: none;
                button {
                    width: 100%
                }
            }
            .field.qty {
                .qty-wrapper {
                    border: 1px solid #ccc;
                    height: 52px;
                }
                .qty-button {
                    cursor: pointer;
                    display: inline-block;
                    font-weight: 400;
                    font-size: 1.8rem;
                    background-color: transparent;
                    color: #8a8a8a;
                    border: none;
                    box-shadow: none;
                }
                .plus-minus-input {
                    margin: 0;
                    border: 0;
                }
            }
        }
    }
    .theme-pearl.product-page-v1 .fieldset .field.qty{
        display: flex;
    }

    .theme-pearl.product-page-v1 .product-info-main .fieldset .actions {
        width: auto;
    }

    .catalog-product-view {
        .fixed-cart-container {
            width: 100%;
            font-size: 20px;
            position: fixed;
            background: #FFF;
            padding: 10px 0 10px 0;

            .inner-content {
                margin: 0 auto;
                display: flex;
                justify-content: flex-start;

                .sticky-flex {
                    float: left;
                    display: inline-block;
                    position: relative;
                    vertical-align: middle;
                    text-align: left;

                    &.wp-st-product-image {
                        width: auto;

                        .thumbnail-wrapper {
                            width: 64px;
                            height: 64px;

                            img {
                                height: 100%;
                                width: auto;
                            }
                        }
                    }

                    &.wp-left-container {
                        text-align: left;
                        width: 80%;
                        display: flex;
                        align-items: center;

                        .wp-st-product-name {
                            display: inline-block;
                        }

                        .wp-st-product-review {
                            display: inline-block;
                            margin-left: 0px;

                            .action.add {
                                display: none;
                            }
                        }
                    }

                    &.wp-right-container {
                        text-align: right;
                        width: 100%;

                        .wp-st-product-price {
                            .price-label {
                                display: none !important;
                            }

                            .price-container {
                                .price {
                                    font-size: 2rem;
                                    font-weight: 600;
                                }
                            }

                            .old-price .price {
                                text-decoration: line-through;
                                font-size: 2rem;
                            }

                            display: flex;
                            flex-direction: column-reverse;
                            margin-right: 15px;
                        }

                        .wp-st-addtocart-container {
                            display: inline-block;
                            a.primary.action {
                                height: 50px;
                                display: flex;
                                align-items: center;
                            }
                        }

                        .wp-st-product-wishlist {
                            display: inline-block;
                            float: none;
                            width: auto;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        .product-info-main {
            .chart-wrapper {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    /** fix for magnified product image */
    .catalog-product-view {
        .magnifier-preview {
            z-index: 9;
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .wp-productpage-prev-next {
        .wp-pp-next-link, .wp-pp-prev-link {
            position: relative;
            &.tooltip span{
                visibility: hidden;
                width: 140px;
                background-color: #FFF;
                color: #000;
                border: 1px solid #000;
                text-align: center;
                border-radius: 6px;
                padding: 5px;
                position: absolute;
                z-index: 99999;
                bottom: 125%;
                left: 70%;
                margin-left: -75px;
                opacity: 0;
                transition: opacity .3s;
                -moz-transition: opacity .3s;
                -webkit-transition: opacity .3s;
                &:after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #000 transparent transparent;
                }
            }
            &.tooltip:hover span{
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .catalog-product-view {
        .fixed-cart-container {
            top: 0;
            left: 0;
            bottom: auto;
            opacity: 0;
            transition: opacity 0.3s ease-in;

            &.display-only-mobile {
                display: none !important;
            }
            .inner-content {
                display: flex;
                align-items: center;
                .display-only-mobile {
                    display: none !important;
                }
                .sticky-flex {
                    float: none;
                    display: flex;
                    align-items: center;
                    &.wp-st-product-image {
                        width: 5%;
                    }
                    &.wp-left-container {
                        justify-content: space-between;
                        width: 55%;
                        .wp-st-product-review {
                            margin-left: 20px;
                            .product-reviews-summary {
                                margin-bottom: 0;
                            }
                        }
                    }
                    &.wp-right-container {
                        justify-content: flex-end;
                        width: 40%;
                        .product-social-links {
                            margin: 0;
                        }

                        .wishlist-add-to-cart-wrapper {
                            display: flex;
                            align-items: center;
                            .wp-st-product-wishlist {
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .page-header {
        opacity: 100%;
        transition: opacity 0.25s ease-in-out;
    }
    .theme-pearl.catalog-product-view {
        .sticky-slide-up-desktop {
            opacity: 100%;
            z-index: 900;
        }
        .sticky-header-fade-out {
            opacity: 0;
        }
        .custom-sticky-box-shadow {
            box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.05);
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .wp-productpage-prev-next {
        -ms-flex-order: -3;
        -webkit-order: -3;
        order: -3;
        .wp-pp-next-link, .wp-pp-prev-link {
            &.tooltip span {
                display: none;
            }
        }
    }
    .theme-pearl.product-page-v1,
    .theme-pearl.product-page-v2,
    .theme-pearl.product-page-v3,
    .theme-pearl.product-page-v4 {
        .modal-popup.modal-slide._inner-scroll._show {
            left: 20px;
            right: 20px;
        }
        .modal-popup.modal-slide .modal-inner-wrap[class] {
            background: #fff;
        }
    }
    .theme-pearl.catalog-product-view {
        .fixed-cart-container.sticky-slide-up-mobile{
            transform: translateY(0%);
        }
    }
    .theme-pearl.catalog-product-view {
        .fixed-cart-container {
            padding: 10px 15px 20px 15px;
            bottom: 0;
            left: 0;
            z-index: 10;
            transform: translateY(100%);
            transition: all 0.25s ease-out;
            -webkit-box-shadow: 0 -20px 30px 0 rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 0 -20px 30px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 -20px 30px 0 rgba(0, 0, 0, 0.05);


        .inner-content {
                .display-only-desktop {
                    display: none !important;
                }

                .sticky-flex {
                    &.wp-left-container {
                        .wp-st-product-review, .wp-st-product-name {
                            display: block;
                            float: left;
                        }
                    }

                    &.wp-right-container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .wp-st-product-price {
                            float: left;

                        }

                        .wp-st-addtocart-container {
                            float: right;
                        }

                        .wp-st-product-wishlist {
                            margin: 0;
                        }

                        .wishlist-add-to-cart-wrapper {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .wp-productpage-prev-next {
        div {
            .wp-pp-prev-link, .wp-pp-next-link  {
                margin: 0;
                span {
                    display: none;
                }
            }
        }
    }
}
