<?php
// @codingStandardsIgnoreFile
?>
<?php
$_helper = $this->helper('WeltPixel\CustomHeader\Helper\Data');
$customCMSBlock = $_helper->getCustomCMSStaticBlock();
?>
<?php if ($_helper->isGlobalPromoEnabled() ) : ?>
    <div class="global-notification-wrapper" data-mage-init='{"WeltPixel_CustomHeader/js/globalPromo": {}}'>
        <div class="notice-inner">
            <?php
                echo $this->getLayout()
                    ->createBlock('Magento\Cms\Block\Block')
                    ->setBlockId($customCMSBlock)
                    ->toHtml();
            ?>
        </div>
        <a href="javascript: void(0)" class="close-global-notification icon-line-cross"></a>
    </div>

<?php endif; ?>
