<?php
$currentOrderId = $this->getCurrentOrderId();
$invoices = $this->getUploadedInvoicesByOrderId($currentOrderId);
?>
<section class="admin__page-section order-view-invoice-upload-form">
    <div class="admin__field _required emkp-admin__field" data-index="emag_category_id">
        <form action="<?php echo $this->getAjaxUploadInvoiceUrl() ?>" enctype="multipart/form-data" method="POST">
            <input type='hidden' name="order_id" value="<?php echo $currentOrderId ?>"/>
            <input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>"/>
            <div class="admin__page-section-item-title">
                <span class="title">Upload Invoice</span>
            </div>
            <div class="admin__field-control emkp-admin__field-control">
                <input type='file' class="admin__control-file js-emkp-invoice-file-input" name="file"/>
            </div>
            <div class="admin__field-control emkp-admin__field-control">
                <button class="action primary"
                        type="submit" title="<?php /* @escapeNotVerified */
                echo __('Upload Invoice') ?>">
            <span><?php /* @escapeNotVerified */
                echo __('Upload Invoice') ?></span>
                </button>
            </div>
        </form>
    </div>
</section>
<?php if ($invoices) : ?>
<section class="admin__page-section order-view-invoice-list">
    <div class="admin__page-section-item order-account-information">
        <div class="admin__page-section-item-title">
            <span class="title"><?php echo __('Uploaded Invoices') ?></span>
            <div class="actions">
            </div>
        </div>
        <div class="admin__page-section-item-content">
            <table class="admin__table-secondary order-account-information-table">
                <tbody>
                <?php foreach ($invoices as $invoice) : ?>
                    <tr>
                        <th>
                            <?php $pathArray = explode('/', $invoice->getPath()); ?>
                            <a target='_blank' href="<?php echo $invoice->getUrl(); ?>">
                                <?php
                                echo end($pathArray);
                                ?>
                            </a>
                        </th>
                        <td>
                            <?php
                            echo __('Upload date:') . ' ';
                            echo $invoice->getCreatedAt();
                            ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</section>
<?php endif ?>