<!--@subject Your credit balance at {{var store.getFrontendName()}} is at lowest level @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{var customer.name}},</p>
            <p>
                {{trans "Your account credit balance is at lowest level at %store_name, which mean you are at risk to be not able to purchase products until credit balance due is totally paid." store_name=$store.getFrontendName()}}
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <table cellspacing="10px" cellpadding="10px">
                <tr>
                    <td>{{trans "Your current Credit Balance"}}</td>
                    <td><b>{{var balance_amount}}</b></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}