<?php
/**
 * Copyright © 2020 MageXtensions. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php $shipment = $block->getShipment() ?>
<?php $order = $block->getOrder() ?>
<?php $collection = $block->getTracksCollection($shipment->getId()) ?>
<?php if ($shipment && $order && $collection->count()) : ?>
    <br />
    <table class="shipment-track">
        <thead>
            <tr>
                <th><?= $block->escapeHtml(__('Shipped By')) ?></th>
                <th><?= $block->escapeHtml(__('Tracking Number')) ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($collection as $_item) : ?>
                <tr>
                    <td><?= $block->escapeHtml($_item->getTitle()) ?>:</td>
                    <td>
                        <?php $url = $block->getTrackingUrl($_item) ?>
                        <?php if ($url) : ?>
                            <a href="<?= $block->escapeHtml($url) ?>" target="_blank" rel="nofollow noopener">
                                <?= $block->escapeHtml($_item->getNumber()) ?>
                            </a>
                        <?php else : ?>
                            <?= $block->escapeHtml($_item->getNumber()) ?>
                        <?php endif ?>
                    </td>
                </tr>
            <?php endforeach ?>
        </tbody>
    </table>
<?php endif ?>
